<h1>IMPORT LIBRARIES AND READ CSV FILE<h1>

In [1]:
import pandas as pd
import numpy as np 

import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
senate=pd.read_csv("senate_2022.csv")
senate.head()

,year,date,state,state_po,state_fips,state_cen,state_ic,county_name,county_fips,office,...,party_detailed,party_simplified,writein,candidatevotes,totalvotes,unoffical,stage,special,mode,version
0,2022,2022-11-08,ALABAMA,AL,1,63,41,AUTAUGA,1001.0,US SENATE,...,DEMOCRAT,DEMOCRAT,False,3814.0,1414238,False,GEN,False,TOTAL,20230623
1,2022,2022-11-08,ALABAMA,AL,1,63,41,BALDWIN,1003.0,US SENATE,...,DEMOCRAT,DEMOCRAT,False,11478.0,1414238,False,GEN,False,TOTAL,20230623
2,2022,2022-11-08,ALABAMA,AL,1,63,41,BARBOUR,1005.0,US SENATE,...,DEMOCRAT,DEMOCRAT,False,2620.0,1414238,False,GEN,False,TOTAL,20230623
3,2022,2022-11-08,ALABAMA,AL,1,63,41,BIBB,1007.0,US SENATE,...,DEMOCRAT,DEMOCRAT,False,971.0,1414238,False,GEN,False,TOTAL,20230623
4,2022,2022-11-08,ALABAMA,AL,1,63,41,BLOUNT,1009.0,US SENATE,...,DEMOCRAT,DEMOCRAT,False,1130.0,1414238,False,GEN,False,TOTAL,20230623

<h1>DROP USELESS COLUMNS AND UNWANTED DATA<h1>

In [3]:
senate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21618 entries, 0 to 21617
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              21618 non-null  int64
 1   date              21618 non-null  object
 2   state             21618 non-null  object
 3   state_po          21618 non-null  object
 4   state_fips        21618 non-null  int64
 5   state_cen         21618 non-null  int64
 6   state_ic          21618 non-null  int64
 7   county_name       21316 non-null  object
 8   county_fips       21316 non-null  float64
 9   office            21618 non-null  object
 10  candidate         21300 non-null  object
 11  party_detailed    19376 non-null  object
 12  party_simplified  21147 non-null  object
 13  writein           21618 non-null  bool
 14  candidatevotes    21618 non-null  float64
 15  totalvotes        21618 non-null  int64
 16  unoffical         21618 non-null  bool
 17  stage             21618 non-null  object
 18  special           21618 non-null  bool
 19  mode              21618 non-null  object
 20  version           21618 non-null  int64
dtypes: bool(3), float64(2), int64(6), object(10)
memory usage: 3.0+ MB

In [4]:
senate.describe()

,year,state_fips,state_cen,state_ic,county_fips,candidatevotes,totalvotes,version
count,21618.0,21618.000000,21618.000000,21618.000000,21316.000000,2.161800e+04,2.161800e+04,21618.0
mean,2022.0,22.010501,49.400592,36.192016,21722.851567,4.761157e+03,4.112834e+06,20230623.0
std,0.0,11.980529,17.629759,13.925801,11593.301909,3.333140e+04,3.832948e+06,0.0
min,2022.0,1.000000,12.000000,4.000000,1001.000000,1.000000e+00,2.401400e+05,20230623.0
25%,2022.0,13.000000,32.000000,22.000000,13263.000000,2.100000e+01,1.859851e+06,20230623.0
50%,2022.0,18.000000,56.000000,42.000000,18085.000000,1.700000e+02,2.012511e+06,20230623.0
75%,2022.0,29.000000,58.000000,45.000000,24023.000000,1.353750e+03,4.098896e+06,20230623.0
max,2022.0,55.000000,95.000000,82.000000,55141.000000,2.244209e+06,1.201993e+07,20230623.0

In [5]:
senate.office.unique().tolist()

['US SENATE']

In [6]:
senate.date.unique().tolist()

['2022-11-08']

In [7]:
senate.stage.unique().tolist()

['GEN', 'GEN RUNOFF']

In [8]:
senate[senate.stage=='GEN RUNOFF'].state.value_counts()

state
GEORGIA    1610
Name: count, dtype: int64

In [9]:
senate=senate[senate.stage!='GEN RUNOFF']

In [10]:
senate.stage.unique().tolist()

['GEN']

In [11]:
senate.unoffical.unique().tolist()

[False, True]

In [12]:
senate[senate.unoffical==True].state.value_counts()

state
MISSOURI    230
Name: count, dtype: int64

In [13]:
senate[senate.state=="MISSOURI"].unoffical.value_counts()

unoffical
True    230
Name: count, dtype: int64

In [14]:
senate.special.unique().tolist()

[False, True]

In [15]:
senate[senate.special==True].state.value_counts()

state
OKLAHOMA    308
Name: count, dtype: int64

In [16]:
senate[senate.state=="OKLAHOMA"].special.value_counts()

special
True     308
False    308
Name: count, dtype: int64

In [17]:
senate=senate[senate.special==False]

In [18]:
senate.drop(columns=["year","date","office","version","stage","unoffical","special","state_cen","state_ic"],inplace=True)
senate.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19700 entries, 0 to 21617
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             19700 non-null  object
 1   state_po          19700 non-null  object
 2   state_fips        19700 non-null  int64
 3   county_name       19398 non-null  object
 4   county_fips       19398 non-null  float64
 5   candidate         19541 non-null  object
 6   party_detailed    17617 non-null  object
 7   party_simplified  19229 non-null  object
 8   writein           19700 non-null  bool
 9   candidatevotes    19700 non-null  float64
 10  totalvotes        19700 non-null  int64
 11  mode              19700 non-null  object
dtypes: bool(1), float64(2), int64(2), object(7)
memory usage: 1.8+ MB

<h1>DELETE STATES WITH NO DATA BY COUNTY<h1>

In [19]:
senate.state.value_counts()

state
INDIANA           6551
GEORGIA           2298
NORTH CAROLINA    1774
IOWA              1338
ARKANSAS           906
LOUISIANA          829
SOUTH CAROLINA     695
OHIO               446
FLORIDA            397
COLORADO           357
ILLINOIS           318
KANSAS             315
NEW YORK           310
OKLAHOMA           308
KENTUCKY           297
VERMONT            282
ALABAMA            267
MISSOURI           230
WISCONSIN          225
IDAHO              220
SOUTH DAKOTA       198
NORTH DAKOTA       196
OREGON             178
UTAH               142
WASHINGTON         117
CALIFORNIA         116
MARYLAND           110
NEVADA             102
ARIZONA             94
NEW HAMPSHIRE       40
HAWAII              24
PENNSYLVANIA        15
ALASKA               5
Name: count, dtype: int64

In [20]:
senate[senate.county_name.isnull()].state.value_counts()

state
VERMONT         282
PENNSYLVANIA     15
ALASKA            5
Name: count, dtype: int64

In [21]:
senate[senate.state == "ALASKA"]

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes,mode
267,ALASKA,AK,2,NaN,NaN,"CHESBRO, PATRICIA R.",NaN,OTHER,False,28233.0,263526,TOTAL
268,ALASKA,AK,2,NaN,NaN,"KELLEY, BUZZ A.",NaN,OTHER,False,8575.0,263526,TOTAL
269,ALASKA,AK,2,NaN,NaN,"MURKOWSKI, LISA",NaN,OTHER,False,114118.0,263526,TOTAL
270,ALASKA,AK,2,NaN,NaN,"TSHIBAKA, KELLY C.",NaN,OTHER,False,112101.0,263526,TOTAL
271,ALASKA,AK,2,NaN,NaN,OVERVOTES,NaN,OTHER,False,499.0,263526,TOTAL

In [22]:
senate[senate.state == "PENNSYLVANIA"]

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes,mode
19944,PENNSYLVANIA,PA,42,NaN,NaN,"FETTERMAN, JOHN K",DEMOCRAT,DEMOCRAT,False,1759658.0,5368021,ELECTION DAY
19945,PENNSYLVANIA,PA,42,NaN,NaN,"FETTERMAN, JOHN K",DEMOCRAT,DEMOCRAT,False,960405.0,5368021,MAIL
19946,PENNSYLVANIA,PA,42,NaN,NaN,"FETTERMAN, JOHN K",DEMOCRAT,DEMOCRAT,False,30949.0,5368021,PROVISIONAL
19947,PENNSYLVANIA,PA,42,NaN,NaN,"OZ, MEHMET C",REPUBLICAN,REPUBLICAN,False,2244209.0,5368021,ELECTION DAY
19948,PENNSYLVANIA,PA,42,NaN,NaN,"OZ, MEHMET C",REPUBLICAN,REPUBLICAN,False,234371.0,5368021,MAIL
19949,PENNSYLVANIA,PA,42,NaN,NaN,"OZ, MEHMET C",REPUBLICAN,REPUBLICAN,False,8680.0,5368021,PROVISIONAL
19950,PENNSYLVANIA,PA,42,NaN,NaN,"GERHARDT, ERIK",LIBERTARIAN,LIBERTARIAN,False,57578.0,5368021,ELECTION DAY
19951,PENNSYLVANIA,PA,42,NaN,NaN,"GERHARDT, ERIK",LIBERTARIAN,LIBERTARIAN,False,14861.0,5368021,MAIL
19952,PENNSYLVANIA,PA,42,NaN,NaN,"GERHARDT, ERIK",LIBERTARIAN,LIBERTARIAN,False,448.0,5368021,PROVISIONAL
19953,PENNSYLVANIA,PA,42,NaN,NaN,"WEISS, RICHARD L",GREEN,OTHER,False,21168.0,5368021,ELECTION DAY
19954,PENNSYLVANIA,PA,42,NaN,NaN,"WEISS, RICHARD L",GREEN,OTHER,False,8978.0,5368021,MAIL
19955,PENNSYLVANIA,PA,42,NaN,NaN,"WEISS, RICHARD L",GREEN,OTHER,False,288.0,5368021,PROVISIONAL
19956,PENNSYLVANIA,PA,42,NaN,NaN,"WASSMER, DANIEL",KEYSTON PARTY OF PENNSYLVANIA,OTHER,False,19448.0,5368021,ELECTION DAY
19957,PENNSYLVANIA,PA,42,NaN,NaN,"WASSMER, DANIEL",KEYSTON PARTY OF PENNSYLVANIA,OTHER,False,6831.0,5368021,MAIL
19958,PENNSYLVANIA,PA,42,NaN,NaN,"WASSMER, DANIEL",KEYSTON PARTY OF PENNSYLVANIA,OTHER,False,149.0,5368021,PROVISIONAL

In [23]:
senate[(senate.state == "VERMONT") & (senate.candidatevotes > 1000.0)]

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes,mode
20994,VERMONT,VT,50,NaN,NaN,PETER WELCH,DEMOCRAT,DEMOCRAT,False,196575.0,287386,TOTAL
20995,VERMONT,VT,50,NaN,NaN,GERALD MALLOY,REPUBLICAN,REPUBLICAN,False,80468.0,287386,TOTAL
20996,VERMONT,VT,50,NaN,NaN,DAWN MARIE ELLIS,INDEPENDENT,OTHER,False,2752.0,287386,TOTAL
20997,VERMONT,VT,50,NaN,NaN,NATASHA DIAMONDSTONE-KOHOUT,GREEN MOUNTAIN PEACE AND JUSTICE PARTY OF VERMONT,OTHER,False,1574.0,287386,TOTAL
20998,VERMONT,VT,50,NaN,NaN,KERRY PATRICK RAHEB,INDEPENDENT,OTHER,False,1532.0,287386,TOTAL
20999,VERMONT,VT,50,NaN,NaN,MARK COESTER,INDEPENDENT,OTHER,False,1273.0,287386,TOTAL
21000,VERMONT,VT,50,NaN,NaN,STEPHEN DUKE,INDEPENDENT,OTHER,False,1209.0,287386,TOTAL
21001,VERMONT,VT,50,NaN,NaN,MS. CRIS ERICSON,INDEPENDENT,OTHER,False,1105.0,287386,TOTAL

In [24]:
senate[senate.candidate=="DONALD TRUMP"]

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes,mode
21019,VERMONT,VT,50,NaN,NaN,DONALD TRUMP,NaN,NaN,True,4.0,287386,TOTAL

In [25]:
senate=senate[~senate.state.isin(['VERMONT','ALASKA','PENNSYLVANIA'])]

In [26]:
senate.state.value_counts()

state
INDIANA           6551
GEORGIA           2298
NORTH CAROLINA    1774
IOWA              1338
ARKANSAS           906
LOUISIANA          829
SOUTH CAROLINA     695
OHIO               446
FLORIDA            397
COLORADO           357
ILLINOIS           318
KANSAS             315
NEW YORK           310
OKLAHOMA           308
KENTUCKY           297
ALABAMA            267
MISSOURI           230
WISCONSIN          225
IDAHO              220
SOUTH DAKOTA       198
NORTH DAKOTA       196
OREGON             178
UTAH               142
WASHINGTON         117
CALIFORNIA         116
MARYLAND           110
NEVADA             102
ARIZONA             94
NEW HAMPSHIRE       40
HAWAII              24
Name: count, dtype: int64

<h1>DEAL WITH MODE OF VOTING<h1>

In [27]:
senate.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19398 entries, 0 to 21617
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             19398 non-null  object
 1   state_po          19398 non-null  object
 2   state_fips        19398 non-null  int64
 3   county_name       19398 non-null  object
 4   county_fips       19398 non-null  float64
 5   candidate         19239 non-null  object
 6   party_detailed    17594 non-null  object
 7   party_simplified  19201 non-null  object
 8   writein           19398 non-null  bool
 9   candidatevotes    19398 non-null  float64
 10  totalvotes        19398 non-null  int64
 11  mode              19398 non-null  object
dtypes: bool(1), float64(2), int64(2), object(7)
memory usage: 1.8+ MB

In [28]:
senate['mode'].unique().tolist()

['TOTAL',
 'ELECTION DAY',
 'EARLY VOTING',
 'ABSENTEE',
 'PROVISIONAL',
 'ONE STOP',
 'FAILSAFE']

In [29]:
senate[senate['mode']!='TOTAL'].state.value_counts()

state
NORTH CAROLINA    1774
GEORGIA           1662
IOWA               871
ARKANSAS           681
SOUTH CAROLINA     560
Name: count, dtype: int64

In [30]:
senate[(senate.state=='GEORGIA') & (senate.county_name=='BALDWIN')]

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes,mode
2146,GEORGIA,GA,13,BALDWIN,13009.0,HERSCHEL JUNIOR WALKER,REPUBLICAN,REPUBLICAN,False,2717.0,12019931,ELECTION DAY
2305,GEORGIA,GA,13,BALDWIN,13009.0,HERSCHEL JUNIOR WALKER,REPUBLICAN,REPUBLICAN,False,296.0,12019931,ABSENTEE
2464,GEORGIA,GA,13,BALDWIN,13009.0,HERSCHEL JUNIOR WALKER,REPUBLICAN,REPUBLICAN,False,4403.0,12019931,EARLY VOTING
2738,GEORGIA,GA,13,BALDWIN,13009.0,HERSCHEL JUNIOR WALKER,REPUBLICAN,REPUBLICAN,False,7416.0,12019931,TOTAL
2897,GEORGIA,GA,13,BALDWIN,13009.0,RAPHAEL WARNOCK,DEMOCRAT,DEMOCRAT,False,2163.0,12019931,ELECTION DAY
3056,GEORGIA,GA,13,BALDWIN,13009.0,RAPHAEL WARNOCK,DEMOCRAT,DEMOCRAT,False,819.0,12019931,ABSENTEE
3215,GEORGIA,GA,13,BALDWIN,13009.0,RAPHAEL WARNOCK,DEMOCRAT,DEMOCRAT,False,4343.0,12019931,EARLY VOTING
3371,GEORGIA,GA,13,BALDWIN,13009.0,RAPHAEL WARNOCK,DEMOCRAT,DEMOCRAT,False,2.0,12019931,PROVISIONAL
3469,GEORGIA,GA,13,BALDWIN,13009.0,RAPHAEL WARNOCK,DEMOCRAT,DEMOCRAT,False,7327.0,12019931,TOTAL
3628,GEORGIA,GA,13,BALDWIN,13009.0,CHASE OLIVER,LIBERTARIAN,LIBERTARIAN,False,107.0,12019931,ELECTION DAY
3786,GEORGIA,GA,13,BALDWIN,13009.0,CHASE OLIVER,LIBERTARIAN,LIBERTARIAN,False,20.0,12019931,ABSENTEE
3937,GEORGIA,GA,13,BALDWIN,13009.0,CHASE OLIVER,LIBERTARIAN,LIBERTARIAN,False,87.0,12019931,EARLY VOTING
4126,GEORGIA,GA,13,BALDWIN,13009.0,CHASE OLIVER,LIBERTARIAN,LIBERTARIAN,False,214.0,12019931,TOTAL
4285,GEORGIA,GA,13,BALDWIN,13009.0,NaN,NaN,OTHER,False,14957.0,12019931,TOTAL

In [31]:
senate[(senate.state=='IOWA') & (senate.county_name=='ADAMS')]

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes,mode
13166,IOWA,IA,19,ADAMS,19003.0,CHUCK GRASSLEY,REPUBLICAN,REPUBLICAN,False,853.0,2460832,ELECTION DAY
13167,IOWA,IA,19,ADAMS,19003.0,CHUCK GRASSLEY,REPUBLICAN,REPUBLICAN,False,314.0,2460832,ABSENTEE
13168,IOWA,IA,19,ADAMS,19003.0,CHUCK GRASSLEY,REPUBLICAN,REPUBLICAN,False,1167.0,2460832,TOTAL
13463,IOWA,IA,19,ADAMS,19003.0,MICHAEL FRANKEN,DEMOCRAT,DEMOCRAT,False,265.0,2460832,ELECTION DAY
13464,IOWA,IA,19,ADAMS,19003.0,MICHAEL FRANKEN,DEMOCRAT,DEMOCRAT,False,202.0,2460832,ABSENTEE
13465,IOWA,IA,19,ADAMS,19003.0,MICHAEL FRANKEN,DEMOCRAT,DEMOCRAT,False,467.0,2460832,TOTAL
13759,IOWA,IA,19,ADAMS,19003.0,WRITE-IN,NaN,OTHER,True,3.0,2460832,ELECTION DAY
13760,IOWA,IA,19,ADAMS,19003.0,WRITE-IN,NaN,OTHER,True,3.0,2460832,TOTAL
14033,IOWA,IA,19,ADAMS,19003.0,UNDER VOTES,NaN,OTHER,False,21.0,2460832,ELECTION DAY
14034,IOWA,IA,19,ADAMS,19003.0,UNDER VOTES,NaN,OTHER,False,22.0,2460832,ABSENTEE
14035,IOWA,IA,19,ADAMS,19003.0,UNDER VOTES,NaN,OTHER,False,43.0,2460832,TOTAL

In [32]:
senate[(senate.state=='ARKANSAS')& (senate.county_name=='BENTON')]

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes,mode
275,ARKANSAS,AR,5,BENTON,5007.0,NATALIE JAMES,DEMOCRAT,DEMOCRAT,False,9108.0,1802612,ELECTION DAY
350,ARKANSAS,AR,5,BENTON,5007.0,NATALIE JAMES,DEMOCRAT,DEMOCRAT,False,18522.0,1802612,EARLY VOTING
423,ARKANSAS,AR,5,BENTON,5007.0,NATALIE JAMES,DEMOCRAT,DEMOCRAT,False,706.0,1802612,ABSENTEE
506,ARKANSAS,AR,5,BENTON,5007.0,NATALIE JAMES,DEMOCRAT,DEMOCRAT,False,28336.0,1802612,TOTAL
581,ARKANSAS,AR,5,BENTON,5007.0,KENNETH CATES,LIBERTARIAN,LIBERTARIAN,False,1608.0,1802612,ELECTION DAY
656,ARKANSAS,AR,5,BENTON,5007.0,KENNETH CATES,LIBERTARIAN,LIBERTARIAN,False,1650.0,1802612,EARLY VOTING
729,ARKANSAS,AR,5,BENTON,5007.0,KENNETH CATES,LIBERTARIAN,LIBERTARIAN,False,30.0,1802612,ABSENTEE
796,ARKANSAS,AR,5,BENTON,5007.0,KENNETH CATES,LIBERTARIAN,LIBERTARIAN,False,3288.0,1802612,TOTAL
871,ARKANSAS,AR,5,BENTON,5007.0,JOHN BOOZMAN,REPUBLICAN,REPUBLICAN,False,22317.0,1802612,ELECTION DAY
946,ARKANSAS,AR,5,BENTON,5007.0,JOHN BOOZMAN,REPUBLICAN,REPUBLICAN,False,35779.0,1802612,EARLY VOTING
1019,ARKANSAS,AR,5,BENTON,5007.0,JOHN BOOZMAN,REPUBLICAN,REPUBLICAN,False,842.0,1802612,ABSENTEE
1106,ARKANSAS,AR,5,BENTON,5007.0,JOHN BOOZMAN,REPUBLICAN,REPUBLICAN,False,58938.0,1802612,TOTAL

In [33]:
senate[(senate.state=='SOUTH CAROLINA') & (senate.county_name=='ALLENDALE')]

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes,mode
19961,SOUTH CAROLINA,SC,45,ALLENDALE,45005.0,TIM SCOTT,REPUBLICAN,REPUBLICAN,False,413.0,3391404,ELECTION DAY
20007,SOUTH CAROLINA,SC,45,ALLENDALE,45005.0,TIM SCOTT,REPUBLICAN,REPUBLICAN,False,10.0,3391404,EARLY VOTING
20053,SOUTH CAROLINA,SC,45,ALLENDALE,45005.0,TIM SCOTT,REPUBLICAN,REPUBLICAN,False,162.0,3391404,ABSENTEE
20188,SOUTH CAROLINA,SC,45,ALLENDALE,45005.0,TIM SCOTT,REPUBLICAN,REPUBLICAN,False,585.0,3391404,TOTAL
20234,SOUTH CAROLINA,SC,45,ALLENDALE,45005.0,KRYSTLE MATTHEWS,DEMOCRAT,DEMOCRAT,False,626.0,3391404,ELECTION DAY
20280,SOUTH CAROLINA,SC,45,ALLENDALE,45005.0,KRYSTLE MATTHEWS,DEMOCRAT,DEMOCRAT,False,39.0,3391404,EARLY VOTING
20326,SOUTH CAROLINA,SC,45,ALLENDALE,45005.0,KRYSTLE MATTHEWS,DEMOCRAT,DEMOCRAT,False,558.0,3391404,ABSENTEE
20398,SOUTH CAROLINA,SC,45,ALLENDALE,45005.0,KRYSTLE MATTHEWS,DEMOCRAT,DEMOCRAT,False,1.0,3391404,PROVISIONAL
20460,SOUTH CAROLINA,SC,45,ALLENDALE,45005.0,KRYSTLE MATTHEWS,DEMOCRAT,DEMOCRAT,False,1224.0,3391404,TOTAL

In [34]:
senate[(senate.state=='NORTH CAROLINA') & (senate.county_name=='ALAMANCE')]

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes,mode
16282,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,MATTHEW HOH,GREEN,OTHER,False,219.0,3773924,ELECTION DAY
16283,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,CHERI BEASLEY,DEMOCRAT,DEMOCRAT,False,8690.0,3773924,ELECTION DAY
16284,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,SHANNON W. BRAY,LIBERTARIAN,LIBERTARIAN,False,474.0,3773924,ELECTION DAY
16285,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,TED BUDD,REPUBLICAN,REPUBLICAN,False,15135.0,3773924,ELECTION DAY
16286,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,WRITE-IN,NaN,OTHER,True,18.0,3773924,ELECTION DAY
16804,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,MATTHEW HOH,GREEN,OTHER,False,169.0,3773924,ONE STOP
16805,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,CHERI BEASLEY,DEMOCRAT,DEMOCRAT,False,15225.0,3773924,ONE STOP
16806,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,SHANNON W. BRAY,LIBERTARIAN,LIBERTARIAN,False,333.0,3773924,ONE STOP
16807,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,TED BUDD,REPUBLICAN,REPUBLICAN,False,16757.0,3773924,ONE STOP
16808,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,WRITE-IN,NaN,OTHER,True,11.0,3773924,ONE STOP
17321,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,MATTHEW HOH,GREEN,OTHER,False,23.0,3773924,ABSENTEE
17322,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,CHERI BEASLEY,DEMOCRAT,DEMOCRAT,False,1907.0,3773924,ABSENTEE
17323,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,SHANNON W. BRAY,LIBERTARIAN,LIBERTARIAN,False,28.0,3773924,ABSENTEE
17324,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,TED BUDD,REPUBLICAN,REPUBLICAN,False,909.0,3773924,ABSENTEE
17325,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,WRITE-IN,NaN,OTHER,True,3.0,3773924,ABSENTEE
17761,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,MATTHEW HOH,GREEN,OTHER,False,1.0,3773924,PROVISIONAL
17762,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,CHERI BEASLEY,DEMOCRAT,DEMOCRAT,False,44.0,3773924,PROVISIONAL
17763,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,SHANNON W. BRAY,LIBERTARIAN,LIBERTARIAN,False,2.0,3773924,PROVISIONAL
17764,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,TED BUDD,REPUBLICAN,REPUBLICAN,False,65.0,3773924,PROVISIONAL

All but North Carolina have total votes

In [35]:
#senate=senate[(senate.state=='NORTH CAROLINA') | (senate.mode=='TOTAL')]

In [36]:
#senate[senate['mode']!='TOTAL'].state.value_counts()

In [37]:
#nc_total_df=senate[0:0]
nc_total_votes_list=[]
nc_counties=senate[senate.state=='NORTH CAROLINA'][['county_name','county_fips']].drop_duplicates().reset_index()
for index,row in nc_counties.iterrows():
    #print(row.county_fips)
    candidates_in_county=senate[senate.county_fips==row.county_fips][['candidate','party_simplified']].drop_duplicates().reset_index()
    for cand_index, cand_row in candidates_in_county.iterrows():
        cand_total_votes=senate[(senate.county_fips==row.county_fips) & (senate.candidate==cand_row.candidate)].candidatevotes.sum()
        nc_total_votes_list.append( {
            'state':'NORTH CAROLINA',
            'state_po':'NC',
            'state_fips':37,
            'county_name':row.county_name,
            'county_fips':row.county_fips,
            'candidate':cand_row.candidate,
            'party_detailed':'NC_PLACEHOLDER',
            'party_simplified':cand_row.party_simplified,
            'writein':False,
            'candidatevotes':cand_total_votes,
            'totalvotes':3773924,
            'mode':'TOTAL'
        }
        )

In [38]:
nc_df=pd.DataFrame(nc_total_votes_list)
nc_df

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes,mode
0,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,MATTHEW HOH,NC_PLACEHOLDER,OTHER,False,412.0,3773924,TOTAL
1,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,CHERI BEASLEY,NC_PLACEHOLDER,DEMOCRAT,False,25866.0,3773924,TOTAL
2,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,SHANNON W. BRAY,NC_PLACEHOLDER,LIBERTARIAN,False,837.0,3773924,TOTAL
3,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,TED BUDD,NC_PLACEHOLDER,REPUBLICAN,False,32866.0,3773924,TOTAL
4,NORTH CAROLINA,NC,37,ALAMANCE,37001.0,WRITE-IN,NC_PLACEHOLDER,OTHER,False,32.0,3773924,TOTAL
...,...,...,...,...,...,...,...,...,...,...,...,...
528,NORTH CAROLINA,NC,37,YANCEY,37199.0,MATTHEW HOH,NC_PLACEHOLDER,OTHER,False,89.0,3773924,TOTAL
529,NORTH CAROLINA,NC,37,YANCEY,37199.0,CHERI BEASLEY,NC_PLACEHOLDER,DEMOCRAT,False,2946.0,3773924,TOTAL
530,NORTH CAROLINA,NC,37,YANCEY,37199.0,SHANNON W. BRAY,NC_PLACEHOLDER,LIBERTARIAN,False,138.0,3773924,TOTAL
531,NORTH CAROLINA,NC,37,YANCEY,37199.0,TED BUDD,NC_PLACEHOLDER,REPUBLICAN,False,5706.0,3773924,TOTAL
532,NORTH CAROLINA,NC,37,YANCEY,37199.0,WRITE-IN,NC_PLACEHOLDER,OTHER,False,8.0,3773924,TOTAL

In [39]:
senate=senate[senate['mode']=='TOTAL']

In [40]:
senate

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes,mode
0,ALABAMA,AL,1,AUTAUGA,1001.0,WILL BOYD,DEMOCRAT,DEMOCRAT,False,3814.0,1414238,TOTAL
1,ALABAMA,AL,1,BALDWIN,1003.0,WILL BOYD,DEMOCRAT,DEMOCRAT,False,11478.0,1414238,TOTAL
2,ALABAMA,AL,1,BARBOUR,1005.0,WILL BOYD,DEMOCRAT,DEMOCRAT,False,2620.0,1414238,TOTAL
3,ALABAMA,AL,1,BIBB,1007.0,WILL BOYD,DEMOCRAT,DEMOCRAT,False,971.0,1414238,TOTAL
4,ALABAMA,AL,1,BLOUNT,1009.0,WILL BOYD,DEMOCRAT,DEMOCRAT,False,1130.0,1414238,TOTAL
...,...,...,...,...,...,...,...,...,...,...,...,...
21613,WISCONSIN,WI,55,WASHBURN,55129.0,SCATTERING,SCATTERING,OTHER,False,4.0,2652477,TOTAL
21614,WISCONSIN,WI,55,WAUKESHA,55133.0,SCATTERING,SCATTERING,OTHER,False,509.0,2652477,TOTAL
21615,WISCONSIN,WI,55,WAUPACA,55135.0,SCATTERING,SCATTERING,OTHER,False,42.0,2652477,TOTAL
21616,WISCONSIN,WI,55,WINNEBAGO,55139.0,SCATTERING,SCATTERING,OTHER,False,185.0,2652477,TOTAL
21617,WISCONSIN,WI,55,WOOD,55141.0,SCATTERING,SCATTERING,OTHER,False,64.0,2652477,TOTAL

In [41]:
senate=pd.concat([senate,nc_df],axis=0,ignore_index=True)

In [42]:
senate

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes,mode
0,ALABAMA,AL,1,AUTAUGA,1001.0,WILL BOYD,DEMOCRAT,DEMOCRAT,False,3814.0,1414238,TOTAL
1,ALABAMA,AL,1,BALDWIN,1003.0,WILL BOYD,DEMOCRAT,DEMOCRAT,False,11478.0,1414238,TOTAL
2,ALABAMA,AL,1,BARBOUR,1005.0,WILL BOYD,DEMOCRAT,DEMOCRAT,False,2620.0,1414238,TOTAL
3,ALABAMA,AL,1,BIBB,1007.0,WILL BOYD,DEMOCRAT,DEMOCRAT,False,971.0,1414238,TOTAL
4,ALABAMA,AL,1,BLOUNT,1009.0,WILL BOYD,DEMOCRAT,DEMOCRAT,False,1130.0,1414238,TOTAL
...,...,...,...,...,...,...,...,...,...,...,...,...
14378,NORTH CAROLINA,NC,37,YANCEY,37199.0,MATTHEW HOH,NC_PLACEHOLDER,OTHER,False,89.0,3773924,TOTAL
14379,NORTH CAROLINA,NC,37,YANCEY,37199.0,CHERI BEASLEY,NC_PLACEHOLDER,DEMOCRAT,False,2946.0,3773924,TOTAL
14380,NORTH CAROLINA,NC,37,YANCEY,37199.0,SHANNON W. BRAY,NC_PLACEHOLDER,LIBERTARIAN,False,138.0,3773924,TOTAL
14381,NORTH CAROLINA,NC,37,YANCEY,37199.0,TED BUDD,NC_PLACEHOLDER,REPUBLICAN,False,5706.0,3773924,TOTAL
14382,NORTH CAROLINA,NC,37,YANCEY,37199.0,WRITE-IN,NC_PLACEHOLDER,OTHER,False,8.0,3773924,TOTAL

In [43]:
senate['mode'].unique().tolist()

['TOTAL']

In [44]:
senate.drop(columns=["mode"],inplace=True)
senate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14383 entries, 0 to 14382
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             14383 non-null  object
 1   state_po          14383 non-null  object
 2   state_fips        14383 non-null  int64
 3   county_name       14383 non-null  object
 4   county_fips       14383 non-null  float64
 5   candidate         14224 non-null  object
 6   party_detailed    13456 non-null  object
 7   party_simplified  14293 non-null  object
 8   writein           14383 non-null  bool
 9   candidatevotes    14383 non-null  float64
 10  totalvotes        14383 non-null  int64
dtypes: bool(1), float64(2), int64(2), object(6)
memory usage: 1.1+ MB

In [45]:
senate[senate.state=='NORTH CAROLINA'].groupby(['candidate','party_detailed']).candidatevotes.sum()

candidate               party_detailed
CHERI BEASLEY           NC_PLACEHOLDER    1784049.0
MATTHEW HOH             NC_PLACEHOLDER      29934.0
MICHELLE ESTELLE LEWIS  NC_PLACEHOLDER        137.0
SHANNON W. BRAY         NC_PLACEHOLDER      51640.0
TED BUDD                NC_PLACEHOLDER    1905786.0
WRITE-IN                NC_PLACEHOLDER       2378.0
Name: candidatevotes, dtype: float64

In [46]:
"""
nc_county_fips=senate[senate.state=='NORTH CAROLINA'].county_fips.unique().tolist()
cfip=37017
#candidates_in_county=senate[senate.county_fips==cfip].candidate.unique().tolist()
candidates_in_county=senate[senate.county_fips==cfip][['candidate','party_simplified']].drop_duplicates()
candidates_in_county
"""

"\nnc_county_fips=senate[senate.state=='NORTH CAROLINA'].county_fips.unique().tolist()\ncfip=37017\n#candidates_in_county=senate[senate.county_fips==cfip].candidate.unique().tolist()\ncandidates_in_county=senate[senate.county_fips==cfip][['candidate','party_simplified']].drop_duplicates()\ncandidates_in_county\n"

In [47]:
"""
for cand in candidates_in_county:
    votes=senate[(senate.county_fips==cfip) & (senate.candidate==cand)].candidatevotes.sum()
    """

'\nfor cand in candidates_in_county:\n    votes=senate[(senate.county_fips==cfip) & (senate.candidate==cand)].candidatevotes.sum()\n    '

<h1>DEAL WITH PARTY NAMES<h1>

In [48]:
senate.party_simplified.value_counts()

party_simplified
DEMOCRAT       3937
REPUBLICAN     3916
OTHER          3418
LIBERTARIAN    3022
Name: count, dtype: int64

In [49]:
senate.party_detailed.value_counts()

party_detailed
DEMOCRAT                        3837
REPUBLICAN                      3816
LIBERTARIAN                     2922
INDEPENDENT                      968
NC_PLACEHOLDER                   533
DEMOCRATIC                       148
NON PARTISAN                     144
NO PARTY AFFILIATION             134
OTHER                            126
WRITE-IN                         123
CONSERVATIVE                     106
LIBERTARIAN PARTY OF FLORIDA      67
APPROVAL VOTING PARTY             64
UNITY PARTY OF COLORADO           64
LAROUCHE                          62
WORKING FAMILIES                  62
SCATTERING                        55
RICK BECKER                       53
                                  39
PACIFIC GREEN                     36
PROGRESSIVE                       36
NONPARTISAN                       32
UNAFFILIATED                      16
ALOHA AINA                         4
GREEN                              4
POLITICAL SYNERGY                  3
DAVID C. GRAHAM                    1
LIB DAVID C. GRAHAM                1
Name: count, dtype: int64

<h3>Deal with DEMOCRATIC party<h3>

In [50]:
senate[senate.party_detailed=='DEMOCRATIC'].state.value_counts()

state
ILLINOIS    102
MARYLAND     46
Name: count, dtype: int64

Deal with Illinois

In [51]:
senate[senate.state=='ILLINOIS'].groupby(['candidate','party_detailed']).candidatevotes.sum()

candidate        party_detailed
BILL REDPATH     LIBERTARIAN         68671.0
KATHY SALVI      REPUBLICAN        1701055.0
TAMMY DUCKWORTH  DEMOCRATIC        2329136.0
Name: candidatevotes, dtype: float64

In [52]:
#senate[(senate.party_detailed=='DEMOCRATIC') & (senate.state=='ILLINOIS')].candidate.value_counts()

In [53]:
#senate[senate.candidate=="TAMMY DUCKWORTH"].state.value_counts()

In [54]:
senate[(senate.party_simplified=='DEMOCRAT') & (senate.state=='ILLINOIS')]

Empty DataFrame
Columns: [state, state_po, state_fips, county_name, county_fips, candidate, party_detailed, party_simplified, writein, candidatevotes, totalvotes]
Index: []

In [55]:
senate.party_simplified = np.where(senate.candidate=="TAMMY DUCKWORTH", 'DEMOCRAT', senate.party_simplified)

In [56]:
senate[(senate.party_simplified=='DEMOCRAT') & (senate.state=='ILLINOIS')]

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes
2342,ILLINOIS,IL,17,MASON,17125.0,TAMMY DUCKWORTH,DEMOCRATIC,DEMOCRAT,False,1739.0,4098896
2343,ILLINOIS,IL,17,FORD,17053.0,TAMMY DUCKWORTH,DEMOCRATIC,DEMOCRAT,False,1386.0,4098896
2344,ILLINOIS,IL,17,JO DAVIESS,17085.0,TAMMY DUCKWORTH,DEMOCRATIC,DEMOCRAT,False,3943.0,4098896
2345,ILLINOIS,IL,17,CARROLL,17015.0,TAMMY DUCKWORTH,DEMOCRATIC,DEMOCRAT,False,2039.0,4098896
2346,ILLINOIS,IL,17,MCDONOUGH,17109.0,TAMMY DUCKWORTH,DEMOCRATIC,DEMOCRAT,False,3793.0,4098896
...,...,...,...,...,...,...,...,...,...,...,...
2439,ILLINOIS,IL,17,LAKE,17097.0,TAMMY DUCKWORTH,DEMOCRATIC,DEMOCRAT,False,138584.0,4098896
2440,ILLINOIS,IL,17,OGLE,17141.0,TAMMY DUCKWORTH,DEMOCRATIC,DEMOCRAT,False,6920.0,4098896
2441,ILLINOIS,IL,17,LEE,17103.0,TAMMY DUCKWORTH,DEMOCRATIC,DEMOCRAT,False,4685.0,4098896
2442,ILLINOIS,IL,17,POPE,17151.0,TAMMY DUCKWORTH,DEMOCRATIC,DEMOCRAT,False,357.0,4098896
2443,ILLINOIS,IL,17,TAZEWELL,17179.0,TAMMY DUCKWORTH,DEMOCRATIC,DEMOCRAT,False,19021.0,4098896

Deal with Maryland

In [57]:
senate[senate.state=='MARYLAND'].groupby(['candidate','party_detailed']).candidatevotes.sum()

candidate          party_detailed
ANDREW J. WILDMAN  UNAFFILIATED           89.0
CHRIS CHAFFEE      REPUBLICAN         682293.0
CHRIS VAN HOLLEN   DEMOCRATIC        1316897.0
SCOTTIE GRIFFIN    DEMOCRATIC            334.0
WRITE-IN           WRITE-IN             2723.0
Name: candidatevotes, dtype: float64

In [58]:
#senate[(senate.party_detailed=='DEMOCRATIC') & (senate.state=='MARYLAND')].candidate.value_counts()

In [59]:
#senate[(senate.party_detailed=='DEMOCRATIC') & (senate.state=='MARYLAND')].groupby('candidate').candidatevotes.mean()

In [60]:
senate[(senate.party_simplified=='DEMOCRAT') & (senate.state=='MARYLAND')]

Empty DataFrame
Columns: [state, state_po, state_fips, county_name, county_fips, candidate, party_detailed, party_simplified, writein, candidatevotes, totalvotes]
Index: []

In [61]:
senate.party_simplified = np.where(senate.candidate=="CHRIS VAN HOLLEN", 'DEMOCRAT', senate.party_simplified)

In [62]:
senate[(senate.party_simplified=='DEMOCRAT') & (senate.state=='MARYLAND')]

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes
11137,MARYLAND,MD,24,ALLEGANY,24001.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,7244.0,2002336
11138,MARYLAND,MD,24,ANNE ARUNDEL,24003.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,123696.0,2002336
11139,MARYLAND,MD,24,BALTIMORE CITY,24510.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,129257.0,2002336
11140,MARYLAND,MD,24,BALTIMORE,24005.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,175417.0,2002336
11141,MARYLAND,MD,24,CALVERT,24009.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,17007.0,2002336
11142,MARYLAND,MD,24,CAROLINE,24011.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,3586.0,2002336
11143,MARYLAND,MD,24,CARROLL,24013.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,27775.0,2002336
11144,MARYLAND,MD,24,CECIL,24015.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,12132.0,2002336
11145,MARYLAND,MD,24,CHARLES,24017.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,38270.0,2002336
11146,MARYLAND,MD,24,DORCHESTER,24019.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,4947.0,2002336
11147,MARYLAND,MD,24,FREDERICK,24021.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,58708.0,2002336
11148,MARYLAND,MD,24,GARRETT,24023.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,2608.0,2002336
11149,MARYLAND,MD,24,HARFORD,24025.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,45273.0,2002336
11150,MARYLAND,MD,24,HOWARD,24027.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,92205.0,2002336
11151,MARYLAND,MD,24,KENT,24029.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,4461.0,2002336
11152,MARYLAND,MD,24,MONTGOMERY,24031.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,276482.0,2002336
11153,MARYLAND,MD,24,PRINCE GEORGE'S,24033.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,218726.0,2002336
11154,MARYLAND,MD,24,QUEEN ANNE'S,24035.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,8710.0,2002336
11155,MARYLAND,MD,24,ST. MARY'S,24037.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,15656.0,2002336
11156,MARYLAND,MD,24,SOMERSET,24039.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,2656.0,2002336
11157,MARYLAND,MD,24,TALBOT,24041.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,9028.0,2002336
11158,MARYLAND,MD,24,WASHINGTON,24043.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,19420.0,2002336
11159,MARYLAND,MD,24,WICOMICO,24045.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,14296.0,2002336
11160,MARYLAND,MD,24,WORCESTER,24047.0,CHRIS VAN HOLLEN,DEMOCRATIC,DEMOCRAT,False,9337.0,2002336

<h3>Deal with CONSERVATIVE and WORKING FAMILIES party<h3>

In [63]:
senate[senate.party_detailed=='CONSERVATIVE'].state.value_counts()

state
NEW YORK    62
IDAHO       44
Name: count, dtype: int64

In [64]:
senate[senate.state=='IDAHO'].groupby(['candidate','party_detailed']).candidatevotes.sum()

candidate           party_detailed
DAVID ROTH          DEMOCRAT          169808.0
IDAHO SIERRA LAW    LIBERTARIAN         4126.0
MIKE CRAPO          REPUBLICAN        358539.0
RAY J. WRITZ        CONSERVATIVE        8500.0
SCOTT OH CLEVELAND  INDEPENDENT        49917.0
Name: candidatevotes, dtype: float64

In [65]:
#senate[(senate.party_detailed=='CONSERVATIVE') & (senate.state=='IDAHO')].candidate.value_counts()

In [66]:
#senate[(senate.party_simplified=='REPUBLICAN') & (senate.state=='IDAHO')].candidate.value_counts()

In [67]:
senate[senate.state=='NEW YORK'].groupby(['candidate','party_detailed']).candidatevotes.sum()

candidate           party_detailed
CHARLES E. SCHUMER  DEMOCRAT            3022822.0
                    WORKING FAMILIES     297739.0
DIANE SARE          LAROUCHE              26844.0
JOE PINION          CONSERVATIVE         296652.0
                    REPUBLICAN          2204499.0
Name: candidatevotes, dtype: float64

In [68]:
#senate[(senate.party_detailed=='CONSERVATIVE') & (senate.state=='NEW YORK')].candidate.value_counts()

In [69]:
#senate[(senate.party_simplified=='REPUBLICAN') & (senate.state=='NEW YORK')].candidate.value_counts()

In [70]:
#senate[senate.candidate=='JOE PINION'].party_detailed.value_counts()

In [71]:
senate[senate.candidate=='JOE PINION']

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes
11853,NEW YORK,NY,36,ALBANY,36001.0,JOE PINION,REPUBLICAN,REPUBLICAN,False,35850.0,5848556
11854,NEW YORK,NY,36,ALLEGANY,36003.0,JOE PINION,REPUBLICAN,REPUBLICAN,False,10196.0,5848556
11855,NEW YORK,NY,36,BROOME,36007.0,JOE PINION,REPUBLICAN,REPUBLICAN,False,31225.0,5848556
11856,NEW YORK,NY,36,CATTARAUGUS,36009.0,JOE PINION,REPUBLICAN,REPUBLICAN,False,14955.0,5848556
11857,NEW YORK,NY,36,CAYUGA,36011.0,JOE PINION,REPUBLICAN,REPUBLICAN,False,13023.0,5848556
...,...,...,...,...,...,...,...,...,...,...,...
11972,NEW YORK,NY,36,BRONX,36005.0,JOE PINION,CONSERVATIVE,OTHER,False,2761.0,5848556
11973,NEW YORK,NY,36,KINGS,36047.0,JOE PINION,CONSERVATIVE,OTHER,False,9886.0,5848556
11974,NEW YORK,NY,36,NEW YORK,36061.0,JOE PINION,CONSERVATIVE,OTHER,False,4465.0,5848556
11975,NEW YORK,NY,36,QUEENS,36081.0,JOE PINION,CONSERVATIVE,OTHER,False,10079.0,5848556
11976,NEW YORK,NY,36,RICHMOND,36085.0,JOE PINION,CONSERVATIVE,OTHER,False,6077.0,5848556

In [72]:
senate[senate.candidate=='JOE PINION'].groupby(['county_name', 'party_detailed']).candidatevotes.mean()

county_name  party_detailed
ALBANY       CONSERVATIVE        6869.0
             REPUBLICAN         35850.0
ALLEGANY     CONSERVATIVE        1081.0
             REPUBLICAN         10196.0
BRONX        CONSERVATIVE        2761.0
                                 ...
WESTCHESTER  REPUBLICAN        109166.0
WYOMING      CONSERVATIVE        1584.0
             REPUBLICAN          9607.0
YATES        CONSERVATIVE         578.0
             REPUBLICAN          4356.0
Name: candidatevotes, Length: 124, dtype: float64

In [73]:
ny_counties=senate[senate.state=='NEW YORK'].county_name.unique().tolist()
ny_counties

['ALBANY',
 'ALLEGANY',
 'BROOME',
 'CATTARAUGUS',
 'CAYUGA',
 'CHAUTAUQUA',
 'CHEMUNG',
 'CHENANGO',
 'CLINTON',
 'COLUMBIA',
 'CORTLAND',
 'DELAWARE',
 'DUTCHESS',
 'ERIE',
 'ESSEX',
 'FRANKLIN',
 'FULTON',
 'GENESEE',
 'GREENE',
 'HAMILTON',
 'HERKIMER',
 'JEFFERSON',
 'LEWIS',
 'LIVINGSTON',
 'MADISON',
 'MONROE',
 'MONTGOMERY',
 'NASSAU',
 'NIAGARA',
 'ONEIDA',
 'ONONDAGA',
 'ONTARIO',
 'ORANGE',
 'ORLEANS',
 'OSWEGO',
 'OTSEGO',
 'PUTNAM',
 'RENSSELAER',
 'ROCKLAND',
 'ST. LAWRENCE',
 'SARATOGA',
 'SCHENECTADY',
 'SCHOHARIE',
 'SCHUYLER',
 'SENECA',
 'STEUBEN',
 'SUFFOLK',
 'SULLIVAN',
 'TIOGA',
 'TOMPKINS',
 'ULSTER',
 'WARREN',
 'WASHINGTON',
 'WAYNE',
 'WESTCHESTER',
 'WYOMING',
 'YATES',
 'BRONX',
 'KINGS',
 'NEW YORK',
 'QUEENS',
 'RICHMOND']

In [74]:
for county in ny_counties:
    #print(senate.loc[(senate.candidate=='JOE PINION') & (senate.county_name==county) & (senate.party_detailed=='REPUBLICAN'), 'candidatevotes'])
    """
    senate.loc[(senate.candidate=='JOE PINION') & 
               (senate.county_name==county) & 
               (senate.party_detailed=='REPUBLICAN'), 'candidatevotes'].values += senate.loc[
               (senate.candidate=='JOE PINION') & 
               (senate.county_name==county) & 
               (senate.party_detailed=='CONSERVATIVE'), 'candidatevotes'].values
    """
    rep_values=senate.loc[(senate.candidate=='JOE PINION') & 
               (senate.county_name==county) & 
               (senate.party_detailed=='REPUBLICAN'), 'candidatevotes'].values

    senate.loc[(senate.candidate=='JOE PINION') & 
               (senate.county_name==county) & 
               (senate.party_detailed=='REPUBLICAN'), 'candidatevotes']= rep_values + senate.loc[(senate.candidate=='JOE PINION') & 
               (senate.county_name==county) & 
               (senate.party_detailed=='CONSERVATIVE'), 'candidatevotes'].values

    """
    rep_values=senate.loc[(senate.candidate=='JOE PINION') & 
               (senate.county_name==county) & 
               (senate.party_detailed=='REPUBLICAN'), 'candidatevotes'].values
    con_values=senate.loc[(senate.candidate=='JOE PINION') & 
               (senate.county_name==county) & 
               (senate.party_detailed=='CONSERVATIVE'), 'candidatevotes'].values
    rep_values+=con_values
    senate.loc[(senate.candidate=='JOE PINION') & 
               (senate.county_name==county) & 
               (senate.party_detailed=='REPUBLICAN'), 'candidatevotes'] = rep_values
               """

In [75]:
senate[senate.candidate=='JOE PINION'].groupby(['county_name', 'party_detailed']).candidatevotes.mean()

county_name  party_detailed
ALBANY       CONSERVATIVE        6869.0
             REPUBLICAN         42719.0
ALLEGANY     CONSERVATIVE        1081.0
             REPUBLICAN         11277.0
BRONX        CONSERVATIVE        2761.0
                                 ...
WESTCHESTER  REPUBLICAN        119891.0
WYOMING      CONSERVATIVE        1584.0
             REPUBLICAN         11191.0
YATES        CONSERVATIVE         578.0
             REPUBLICAN          4934.0
Name: candidatevotes, Length: 124, dtype: float64

In [76]:
senate=senate[(senate.candidate!='JOE PINION') | (senate.party_detailed!='CONSERVATIVE')]

In [77]:
senate[senate.state=='NEW YORK'].groupby(['candidate','party_detailed']).candidatevotes.sum()

candidate           party_detailed
CHARLES E. SCHUMER  DEMOCRAT            3022822.0
                    WORKING FAMILIES     297739.0
DIANE SARE          LAROUCHE              26844.0
JOE PINION          REPUBLICAN          2501151.0
Name: candidatevotes, dtype: float64

In [78]:
#senate[senate.party_detailed=='WORKING FAMILIES'].state.value_counts()

In [79]:
#senate[senate.party_detailed=='WORKING FAMILIES'].candidate.value_counts()

In [80]:
senate[senate.candidate=='CHARLES E. SCHUMER']

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes
11791,NEW YORK,NY,36,ALBANY,36001.0,CHARLES E. SCHUMER,DEMOCRAT,DEMOCRAT,False,65299.0,5848556
11792,NEW YORK,NY,36,ALLEGANY,36003.0,CHARLES E. SCHUMER,DEMOCRAT,DEMOCRAT,False,3923.0,5848556
11793,NEW YORK,NY,36,BROOME,36007.0,CHARLES E. SCHUMER,DEMOCRAT,DEMOCRAT,False,29675.0,5848556
11794,NEW YORK,NY,36,CATTARAUGUS,36009.0,CHARLES E. SCHUMER,DEMOCRAT,DEMOCRAT,False,7936.0,5848556
11795,NEW YORK,NY,36,CAYUGA,36011.0,CHARLES E. SCHUMER,DEMOCRAT,DEMOCRAT,False,10541.0,5848556
...,...,...,...,...,...,...,...,...,...,...,...
12034,NEW YORK,NY,36,BRONX,36005.0,CHARLES E. SCHUMER,WORKING FAMILIES,OTHER,False,8170.0,5848556
12035,NEW YORK,NY,36,KINGS,36047.0,CHARLES E. SCHUMER,WORKING FAMILIES,OTHER,False,66834.0,5848556
12036,NEW YORK,NY,36,NEW YORK,36061.0,CHARLES E. SCHUMER,WORKING FAMILIES,OTHER,False,37508.0,5848556
12037,NEW YORK,NY,36,QUEENS,36081.0,CHARLES E. SCHUMER,WORKING FAMILIES,OTHER,False,26629.0,5848556
12038,NEW YORK,NY,36,RICHMOND,36085.0,CHARLES E. SCHUMER,WORKING FAMILIES,OTHER,False,3084.0,5848556

In [81]:
senate[senate.candidate=='CHARLES E. SCHUMER'].groupby(['county_name', 'party_detailed']).candidatevotes.mean()

county_name  party_detailed
ALBANY       DEMOCRAT             65299.0
             WORKING FAMILIES      7576.0
ALLEGANY     DEMOCRAT              3923.0
             WORKING FAMILIES       383.0
BRONX        DEMOCRAT            150263.0
                                   ...
WESTCHESTER  WORKING FAMILIES     12138.0
WYOMING      DEMOCRAT              3423.0
             WORKING FAMILIES       415.0
YATES        DEMOCRAT              2987.0
             WORKING FAMILIES       260.0
Name: candidatevotes, Length: 124, dtype: float64

In [82]:
for county in ny_counties:
    dem_values=senate.loc[(senate.candidate=='CHARLES E. SCHUMER') & 
               (senate.county_name==county) & 
               (senate.party_detailed=='DEMOCRAT'), 'candidatevotes'].values

    senate.loc[(senate.candidate=='CHARLES E. SCHUMER') & 
               (senate.county_name==county) & 
               (senate.party_detailed=='DEMOCRAT'), 'candidatevotes']= dem_values + senate.loc[(senate.candidate=='CHARLES E. SCHUMER') & 
               (senate.county_name==county) & 
               (senate.party_detailed=='WORKING FAMILIES'), 'candidatevotes'].values

In [83]:
senate[senate.candidate=='CHARLES E. SCHUMER'].groupby(['county_name', 'party_detailed']).candidatevotes.mean()

county_name  party_detailed
ALBANY       DEMOCRAT             72875.0
             WORKING FAMILIES      7576.0
ALLEGANY     DEMOCRAT              4306.0
             WORKING FAMILIES       383.0
BRONX        DEMOCRAT            158433.0
                                   ...
WESTCHESTER  WORKING FAMILIES     12138.0
WYOMING      DEMOCRAT              3838.0
             WORKING FAMILIES       415.0
YATES        DEMOCRAT              3247.0
             WORKING FAMILIES       260.0
Name: candidatevotes, Length: 124, dtype: float64

In [84]:
senate=senate[senate.party_detailed!='WORKING FAMILIES']

In [85]:
senate[senate.state=='NEW YORK'].groupby(['candidate','party_detailed']).candidatevotes.sum()

candidate           party_detailed
CHARLES E. SCHUMER  DEMOCRAT          3320561.0
DIANE SARE          LAROUCHE            26844.0
JOE PINION          REPUBLICAN        2501151.0
Name: candidatevotes, dtype: float64

In [86]:
senate.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14259 entries, 0 to 14382
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             14259 non-null  object
 1   state_po          14259 non-null  object
 2   state_fips        14259 non-null  int64
 3   county_name       14259 non-null  object
 4   county_fips       14259 non-null  float64
 5   candidate         14100 non-null  object
 6   party_detailed    13332 non-null  object
 7   party_simplified  14169 non-null  object
 8   writein           14259 non-null  bool
 9   candidatevotes    14259 non-null  float64
 10  totalvotes        14259 non-null  int64
dtypes: bool(1), float64(2), int64(2), object(6)
memory usage: 1.2+ MB

<h3>Check counties without at least one major party candidate<h3>

In [87]:
senate.party_simplified.value_counts()

party_simplified
DEMOCRAT       4063
REPUBLICAN     3916
OTHER          3168
LIBERTARIAN    3022
Name: count, dtype: int64

In [88]:
main_parties=frozenset(['DEMOCRAT','REPUBLICAN'])
both_main_parties=senate.groupby('county_fips').party_simplified.apply(main_parties.issubset)
both_main_parties = both_main_parties.index[~both_main_parties].tolist()
print(both_main_parties)

[29001.0, 29003.0, 29005.0, 29007.0, 29009.0, 29011.0, 29013.0, 29015.0, 29017.0, 29019.0, 29021.0, 29023.0, 29025.0, 29027.0, 29029.0, 29031.0, 29033.0, 29035.0, 29037.0, 29039.0, 29041.0, 29043.0, 29045.0, 29047.0, 29049.0, 29051.0, 29053.0, 29055.0, 29057.0, 29059.0, 29061.0, 29063.0, 29065.0, 29067.0, 29069.0, 29071.0, 29073.0, 29075.0, 29077.0, 29079.0, 29081.0, 29083.0, 29085.0, 29087.0, 29089.0, 29091.0, 29093.0, 29095.0, 29097.0, 29099.0, 29101.0, 29103.0, 29105.0, 29107.0, 29109.0, 29111.0, 29113.0, 29115.0, 29117.0, 29119.0, 29121.0, 29123.0, 29125.0, 29127.0, 29129.0, 29131.0, 29133.0, 29135.0, 29137.0, 29139.0, 29141.0, 29143.0, 29145.0, 29147.0, 29149.0, 29151.0, 29153.0, 29155.0, 29157.0, 29159.0, 29161.0, 29163.0, 29165.0, 29167.0, 29169.0, 29171.0, 29173.0, 29175.0, 29177.0, 29179.0, 29181.0, 29183.0, 29185.0, 29186.0, 29187.0, 29189.0, 29195.0, 29197.0, 29199.0, 29201.0, 29203.0, 29205.0, 29207.0, 29209.0, 29211.0, 29213.0, 29215.0, 29217.0, 29219.0, 29221.0, 29223.0, 29225.0, 29227.0, 29229.0, 49001.0, 49003.0, 49005.0, 49007.0, 49009.0, 49011.0, 49013.0, 49015.0, 49017.0, 49019.0, 49021.0, 49023.0, 49025.0, 49027.0, 49029.0, 49031.0, 49033.0, 49035.0, 49037.0, 49039.0, 49041.0, 49043.0, 49045.0, 49047.0, 49049.0, 49051.0, 49053.0, 49055.0, 49057.0]

In [89]:
counties_without_one_major_party=senate[senate.county_fips.isin(both_main_parties)]

In [90]:
counties_without_one_major_party.state.value_counts()

state
MISSOURI    230
UTAH        142
Name: count, dtype: int64

In [91]:
senate[senate.state=='UTAH'].groupby(['candidate','party_detailed']).candidatevotes.sum()

candidate            party_detailed
EVAN MCMULLIN        INDEPENDENT       459958.0
JAMES ARTHUR HANSEN  LIBERTARIAN        31784.0
MIKE LEE             REPUBLICAN        571974.0
TOMMY WILLIAMS       INDEPENDENT        12103.0
Name: candidatevotes, dtype: float64

Just keep in mind to only analyse Republican vote share in UTAH

In [92]:
senate[senate.state=='MISSOURI'].groupby('candidate').candidatevotes.sum()

candidate
ERIC SCHMITT             1143636.0
TRUDY BUSCH VALENTINE     868875.0
Name: candidatevotes, dtype: float64

In [93]:
senate[senate.candidate=='ERIC SCHMITT']

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes
11223,MISSOURI,MO,29,ADAIR,29001.0,ERIC SCHMITT,NaN,OTHER,False,4407.0,2012511
11224,MISSOURI,MO,29,ANDREW,29003.0,ERIC SCHMITT,NaN,OTHER,False,4882.0,2012511
11225,MISSOURI,MO,29,ATCHISON,29005.0,ERIC SCHMITT,NaN,OTHER,False,1467.0,2012511
11226,MISSOURI,MO,29,AUDRAIN,29007.0,ERIC SCHMITT,NaN,OTHER,False,5208.0,2012511
11227,MISSOURI,MO,29,BARRY,29009.0,ERIC SCHMITT,NaN,OTHER,False,8535.0,2012511
...,...,...,...,...,...,...,...,...,...,...,...
11333,MISSOURI,MO,29,WASHINGTON,29221.0,ERIC SCHMITT,NaN,OTHER,False,5267.0,2012511
11334,MISSOURI,MO,29,WAYNE,29223.0,ERIC SCHMITT,NaN,OTHER,False,3369.0,2012511
11335,MISSOURI,MO,29,WEBSTER,29225.0,ERIC SCHMITT,NaN,OTHER,False,9896.0,2012511
11336,MISSOURI,MO,29,WORTH,29227.0,ERIC SCHMITT,NaN,OTHER,False,649.0,2012511
11337,MISSOURI,MO,29,WRIGHT,29229.0,ERIC SCHMITT,NaN,OTHER,False,5202.0,2012511

In [94]:
senate[senate.candidate=='TRUDY BUSCH VALENTINE']

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes
11338,MISSOURI,MO,29,ADAIR,29001.0,TRUDY BUSCH VALENTINE,NaN,OTHER,False,2447.0,2012511
11339,MISSOURI,MO,29,ANDREW,29003.0,TRUDY BUSCH VALENTINE,NaN,OTHER,False,1657.0,2012511
11340,MISSOURI,MO,29,ATCHISON,29005.0,TRUDY BUSCH VALENTINE,NaN,OTHER,False,392.0,2012511
11341,MISSOURI,MO,29,AUDRAIN,29007.0,TRUDY BUSCH VALENTINE,NaN,OTHER,False,2067.0,2012511
11342,MISSOURI,MO,29,BARRY,29009.0,TRUDY BUSCH VALENTINE,NaN,OTHER,False,2043.0,2012511
...,...,...,...,...,...,...,...,...,...,...,...
11448,MISSOURI,MO,29,WASHINGTON,29221.0,TRUDY BUSCH VALENTINE,NaN,OTHER,False,1498.0,2012511
11449,MISSOURI,MO,29,WAYNE,29223.0,TRUDY BUSCH VALENTINE,NaN,OTHER,False,604.0,2012511
11450,MISSOURI,MO,29,WEBSTER,29225.0,TRUDY BUSCH VALENTINE,NaN,OTHER,False,2651.0,2012511
11451,MISSOURI,MO,29,WORTH,29227.0,TRUDY BUSCH VALENTINE,NaN,OTHER,False,184.0,2012511
11452,MISSOURI,MO,29,WRIGHT,29229.0,TRUDY BUSCH VALENTINE,NaN,OTHER,False,817.0,2012511

In [95]:
senate.party_simplified = np.where(senate.candidate=="ERIC SCHMITT", 'REPUBLICAN', senate.party_simplified)
senate.party_simplified = np.where(senate.candidate=="TRUDY BUSCH VALENTINE", 'DEMOCRAT', senate.party_simplified)

senate[senate.candidate=='TRUDY BUSCH VALENTINE']

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes
11338,MISSOURI,MO,29,ADAIR,29001.0,TRUDY BUSCH VALENTINE,NaN,DEMOCRAT,False,2447.0,2012511
11339,MISSOURI,MO,29,ANDREW,29003.0,TRUDY BUSCH VALENTINE,NaN,DEMOCRAT,False,1657.0,2012511
11340,MISSOURI,MO,29,ATCHISON,29005.0,TRUDY BUSCH VALENTINE,NaN,DEMOCRAT,False,392.0,2012511
11341,MISSOURI,MO,29,AUDRAIN,29007.0,TRUDY BUSCH VALENTINE,NaN,DEMOCRAT,False,2067.0,2012511
11342,MISSOURI,MO,29,BARRY,29009.0,TRUDY BUSCH VALENTINE,NaN,DEMOCRAT,False,2043.0,2012511
...,...,...,...,...,...,...,...,...,...,...,...
11448,MISSOURI,MO,29,WASHINGTON,29221.0,TRUDY BUSCH VALENTINE,NaN,DEMOCRAT,False,1498.0,2012511
11449,MISSOURI,MO,29,WAYNE,29223.0,TRUDY BUSCH VALENTINE,NaN,DEMOCRAT,False,604.0,2012511
11450,MISSOURI,MO,29,WEBSTER,29225.0,TRUDY BUSCH VALENTINE,NaN,DEMOCRAT,False,2651.0,2012511
11451,MISSOURI,MO,29,WORTH,29227.0,TRUDY BUSCH VALENTINE,NaN,DEMOCRAT,False,184.0,2012511
11452,MISSOURI,MO,29,WRIGHT,29229.0,TRUDY BUSCH VALENTINE,NaN,DEMOCRAT,False,817.0,2012511

Only dem / rep , not overall share for Missouri

<h3>Check for NULL candidates and parties<h3>

In [96]:
senate.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14259 entries, 0 to 14382
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             14259 non-null  object
 1   state_po          14259 non-null  object
 2   state_fips        14259 non-null  int64
 3   county_name       14259 non-null  object
 4   county_fips       14259 non-null  float64
 5   candidate         14100 non-null  object
 6   party_detailed    13332 non-null  object
 7   party_simplified  14169 non-null  object
 8   writein           14259 non-null  bool
 9   candidatevotes    14259 non-null  float64
 10  totalvotes        14259 non-null  int64
dtypes: bool(1), float64(2), int64(2), object(6)
memory usage: 1.2+ MB

In [97]:
null_rows=senate[senate.isna().any(axis=1)]

In [98]:
null_rows.state.value_counts()

state
IOWA              269
MISSOURI          230
GEORGIA           159
ALABAMA            66
KENTUCKY           57
SOUTH CAROLINA     43
OREGON             34
UTAH               26
NEVADA             17
ILLINOIS           12
NEW HAMPSHIRE      10
HAWAII              4
Name: count, dtype: int64

In [99]:
senate[senate.candidate.isna()].state.value_counts()

state
GEORGIA    159
Name: count, dtype: int64

In [100]:
senate.fillna(value={"candidate" : "GA_MISSING_NAME"},inplace=True)

In [101]:
senate[senate.state=='GEORGIA'].groupby(['candidate']).candidatevotes.sum()

candidate
CHASE OLIVER                81365.0
GA_MISSING_NAME           3935924.0
HERSCHEL JUNIOR WALKER    1908442.0
RAPHAEL WARNOCK           1946117.0
Name: candidatevotes, dtype: float64

In [102]:
senate[senate.county_fips==13009]

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes
1460,GEORGIA,GA,13,BALDWIN,13009.0,HERSCHEL JUNIOR WALKER,REPUBLICAN,REPUBLICAN,False,7416.0,12019931
1619,GEORGIA,GA,13,BALDWIN,13009.0,RAPHAEL WARNOCK,DEMOCRAT,DEMOCRAT,False,7327.0,12019931
1778,GEORGIA,GA,13,BALDWIN,13009.0,CHASE OLIVER,LIBERTARIAN,LIBERTARIAN,False,214.0,12019931
1937,GEORGIA,GA,13,BALDWIN,13009.0,GA_MISSING_NAME,NaN,OTHER,False,14957.0,12019931

GA_MISSING_NAME sum of votes is actually totalvotes for the state

In [103]:
ga_total_votes=3935924

In [104]:
senate=senate[senate.candidate!="GA_MISSING_NAME"]

In [105]:
#ga_length=len(senate.loc[(senate.state=='GEORGIA') , 'totalvotes'])
#ga_totalvotes_array=np.full(shape=ga_length,fill_value=ga_total_votes,dtype=int)
senate.loc[(senate.state=='GEORGIA') , 'totalvotes']=ga_total_votes
senate[senate.state=='GEORGIA']

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes
1456,GEORGIA,GA,13,APPLING,13001.0,HERSCHEL JUNIOR WALKER,REPUBLICAN,REPUBLICAN,False,5344.0,3935924
1457,GEORGIA,GA,13,ATKINSON,13003.0,HERSCHEL JUNIOR WALKER,REPUBLICAN,REPUBLICAN,False,1709.0,3935924
1458,GEORGIA,GA,13,BACON,13005.0,HERSCHEL JUNIOR WALKER,REPUBLICAN,REPUBLICAN,False,3204.0,3935924
1459,GEORGIA,GA,13,BAKER,13007.0,HERSCHEL JUNIOR WALKER,REPUBLICAN,REPUBLICAN,False,711.0,3935924
1460,GEORGIA,GA,13,BALDWIN,13009.0,HERSCHEL JUNIOR WALKER,REPUBLICAN,REPUBLICAN,False,7416.0,3935924
...,...,...,...,...,...,...,...,...,...,...,...
1928,GEORGIA,GA,13,WHITFIELD,13313.0,CHASE OLIVER,LIBERTARIAN,LIBERTARIAN,False,597.0,3935924
1929,GEORGIA,GA,13,WILCOX,13315.0,CHASE OLIVER,LIBERTARIAN,LIBERTARIAN,False,22.0,3935924
1930,GEORGIA,GA,13,WILKES,13317.0,CHASE OLIVER,LIBERTARIAN,LIBERTARIAN,False,46.0,3935924
1931,GEORGIA,GA,13,WILKINSON,13319.0,CHASE OLIVER,LIBERTARIAN,LIBERTARIAN,False,43.0,3935924
1932,GEORGIA,GA,13,WORTH,13321.0,CHASE OLIVER,LIBERTARIAN,LIBERTARIAN,False,100.0,3935924

In [106]:
senate.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14100 entries, 0 to 14382
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             14100 non-null  object
 1   state_po          14100 non-null  object
 2   state_fips        14100 non-null  int64
 3   county_name       14100 non-null  object
 4   county_fips       14100 non-null  float64
 5   candidate         14100 non-null  object
 6   party_detailed    13332 non-null  object
 7   party_simplified  14010 non-null  object
 8   writein           14100 non-null  bool
 9   candidatevotes    14100 non-null  float64
 10  totalvotes        14100 non-null  int64
dtypes: bool(1), float64(2), int64(2), object(6)
memory usage: 1.2+ MB

In [107]:
senate[senate.party_simplified.isna()]

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes
2097,HAWAII,HI,15,HONOLULU,15003.0,OVER VOTES,NaN,NaN,False,255.0,409148
2103,HAWAII,HI,15,HAWAII,15001.0,OVER VOTES,NaN,NaN,False,291.0,409148
2109,HAWAII,HI,15,KAUAI,15007.0,OVER VOTES,NaN,NaN,False,25.0,409148
2115,HAWAII,HI,15,MAUI,15009.0,OVER VOTES,NaN,NaN,False,60.0,409148
11723,NEVADA,NV,32,CARSON CITY,32510.0,"NONE OF THESE, CANDIDATES",NaN,NaN,False,308.0,1020850
...,...,...,...,...,...,...,...,...,...,...,...
13445,UTAH,UT,49,DUCHESNE,49013.0,MICHAEL SEGUIN,NaN,NaN,True,1.0,1076061
13446,UTAH,UT,49,SALT LAKE,49035.0,MICHAEL SEGUIN,NaN,NaN,True,20.0,1076061
13447,UTAH,UT,49,SUMMIT,49043.0,MICHAEL SEGUIN,NaN,NaN,True,3.0,1076061
13448,UTAH,UT,49,UTAH,49049.0,MICHAEL SEGUIN,NaN,NaN,True,11.0,1076061
13449,UTAH,UT,49,WEBER,49057.0,MICHAEL SEGUIN,NaN,NaN,True,16.0,1076061

<h3>Deal with overvotes and undervotes<h3>

In [108]:
np.sort(senate.candidate.unique()).tolist()

['"LUKE" MIXON',
 '"XAN" JOHN',
 'AARON C. SIGLER',
 'ABRAHAM KORB',
 'ADAM PAUL',
 'ALEX PADILLA',
 'ANDREW J. WILDMAN',
 'ANTONIO XAVIER ALVAREZ',
 'BERYL A. BILLIOT',
 'BILL REDPATH',
 'BILLY RAY WILSON',
 'BLAKE MASTERS',
 'BONOAN, FEENA M.',
 'BRADLEY MCMORRIS',
 'BRIAN L BENGS',
 'BRIAN PEOTTER',
 'CHARLES BOOKER',
 'CHARLES E. SCHUMER',
 'CHARLES LEE THOMASON',
 'CHASE OLIVER',
 'CHERI BEASLEY',
 'CHRIS CHAFFEE',
 'CHRIS VAN HOLLEN',
 'CHRISTOPHER BULLOCK',
 'CHUCK GRASSLEY',
 "CONSTANT 'CONNOR' VLAKANCIC",
 'CORTEZ MASTO, CATHERINE',
 'DANNY NIEDERBERGER',
 'DAVID C GRAHAM',
 'DAVID C. GRAHAM',
 'DAVID G. STORER',
 'DAVID ROTH',
 'DECKER, DAN',
 'DENNIS MISIGOY',
 'DEVIN LANCE GRAHAM',
 'DIANE SARE',
 'DONALD C. BOLDUC',
 'EDWARD A. GRAY',
 'EDWARD DAVIDA',
 'ERIC SCHMITT',
 'EVAN MCMULLIN',
 'FRANK ATWOOD',
 'GARY CHAMBERS, JR.',
 'HANEEFAH KHAALIQ',
 'HENRY CHRIS',
 'HERSCHEL JUNIOR WALKER',
 'HOWARD KNEPPER',
 'IDAHO SIERRA LAW',
 'JAMES ARTHUR HANSEN',
 'JAMES LANKFORD',
 'JAMES M. SCENIAK',
 'JD VANCE',
 'JEREMY KAUFFMAN',
 'JERRY MORAN',
 'JOANNE ROCK',
 "JOE O'DEA",
 'JOE PINION',
 'JOHN BOOZMAN',
 'JOHN CARLETON RUTLEDGE',
 'JOHN CHENG',
 'JOHN HOEVEN',
 'JOHN KENNEDY',
 'JOHN R THUNE',
 'JOHN SOPHOCLEUS',
 'KATHY SALVI',
 'KATIE BRITT',
 'KATRINA CHRISTIANSEN',
 'KENNETH CATES',
 'KENNETH D. BLEVINS',
 'KRYSTLE MATTHEWS',
 'LAIRD FETZER HAMBLIN',
 'LASHONDRA TINSLEY',
 'LAXALT, ADAM PAUL',
 'LESTER "SKIP" MAUL',
 'LIB DAVID C. GRAHAM',
 'LINDEMANN, BARRY',
 'LOWELL MARTIN SEIDA',
 'MADISON HORN',
 'MAGGIE HASSAN',
 'MANDELA BARNES',
 'MARC J. VICTOR',
 'MARCO RUBIO',
 'MARK KELLY',
 'MARK P. MEUSER',
 'MARK R. HOLLAND',
 'MATTHEW HOH',
 'MATTHEW R. ESH',
 'MCDERMOTT, BOB',
 'MICHAEL BENNET',
 'MICHAEL FRANKEN',
 'MICHAEL L DELANEY',
 'MICHAEL SEGUIN',
 'MICHELLE ESTELLE LEWIS',
 'MIKE CRAPO',
 'MIKE LEE',
 'MOSES QUILES',
 'MV "VINNY" MENDOZA',
 'NATALIE JAMES',
 'NONE OF THESE, CANDIDATES',
 'OVER VOTES',
 'PATTY MURRAY',
 'PERKINS JO RAE',
 'PHILLIP BEACHY',
 'POHLMAN, EMMA JANE A.',
 'PULJU DAN',
 'RAND PAUL',
 'RAPHAEL WARNOCK',
 'RAY J. WRITZ',
 'RICK BECKER',
 'ROBERT MESSMAN',
 'RON JOHNSON',
 'ROXANNE RENEE RODRIGUEZ',
 'RUBINSON, BARRY',
 'SALVADOR P. RODRIGUEZ',
 'SCATTERING',
 'SCHATZ, BRIAN',
 'SCOTT OH CLEVELAND',
 'SCOTT, NEIL',
 'SCOTTIE GRIFFIN',
 'SHANE HOFFMAN',
 'SHANNON W. BRAY',
 'SHERRISE BORDES',
 'STEPHEN FARIS',
 'STEVEN B. GRANT',
 'SYRITA STEIB',
 'T.J. COLE',
 'TAMARA J LESNAR',
 'TAMMY DUCKWORTH',
 'TED BUDD',
 'THOMAS BAER',
 'THOMAS M. MCDERMOTT, JR.',
 'THOMAS WENN',
 'TIFFANY SMILEY',
 'TIM RYAN',
 'TIM SCOTT',
 'TODD JAMES SMELTZER',
 'TODD YOUNG',
 'TOM HARVEY',
 'TOMMY WILLIAMS',
 'TRUDY BUSCH VALENTINE',
 'TUAN TQ NGUYEN',
 'TY RICHARD MCLEAN JR.',
 'ULOMA UMA EKPETE',
 'UNDER VOTES',
 'VAL DEMINGS',
 'W. THOMAS LA FONTAINE OLSON',
 'WILL BOYD',
 'WILLIAM "WILL" MICHAEL TAYLOR',
 'WRITE-IN',
 'WYDEN RON']

In [109]:
senate[senate.candidate=='NONE OF THESE, CANDIDATES']

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes
11723,NEVADA,NV,32,CARSON CITY,32510.0,"NONE OF THESE, CANDIDATES",NaN,NaN,False,308.0,1020850
11724,NEVADA,NV,32,CHURCHILL,32001.0,"NONE OF THESE, CANDIDATES",NaN,NaN,False,153.0,1020850
11725,NEVADA,NV,32,CLARK,32003.0,"NONE OF THESE, CANDIDATES",NaN,NaN,False,8216.0,1020850
11726,NEVADA,NV,32,DOUGLAS,32005.0,"NONE OF THESE, CANDIDATES",NaN,NaN,False,288.0,1020850
11727,NEVADA,NV,32,ELKO,32007.0,"NONE OF THESE, CANDIDATES",NaN,NaN,False,219.0,1020850
11728,NEVADA,NV,32,ESMERALDA,32009.0,"NONE OF THESE, CANDIDATES",NaN,NaN,False,22.0,1020850
11729,NEVADA,NV,32,EUREKA,32011.0,"NONE OF THESE, CANDIDATES",NaN,NaN,False,17.0,1020850
11730,NEVADA,NV,32,HUMBOLDT,32013.0,"NONE OF THESE, CANDIDATES",NaN,NaN,False,132.0,1020850
11731,NEVADA,NV,32,LANDER,32015.0,"NONE OF THESE, CANDIDATES",NaN,NaN,False,58.0,1020850
11732,NEVADA,NV,32,LINCOLN,32017.0,"NONE OF THESE, CANDIDATES",NaN,NaN,False,62.0,1020850
11733,NEVADA,NV,32,LYON,32019.0,"NONE OF THESE, CANDIDATES",NaN,NaN,False,312.0,1020850
11734,NEVADA,NV,32,MINERAL,32021.0,"NONE OF THESE, CANDIDATES",NaN,NaN,False,59.0,1020850
11735,NEVADA,NV,32,NYE,32023.0,"NONE OF THESE, CANDIDATES",NaN,NaN,False,379.0,1020850
11736,NEVADA,NV,32,PERSHING,32027.0,"NONE OF THESE, CANDIDATES",NaN,NaN,False,41.0,1020850
11737,NEVADA,NV,32,STOREY,32029.0,"NONE OF THESE, CANDIDATES",NaN,NaN,False,46.0,1020850
11738,NEVADA,NV,32,WASHOE,32031.0,"NONE OF THESE, CANDIDATES",NaN,NaN,False,2065.0,1020850
11739,NEVADA,NV,32,WHITE PINE,32033.0,"NONE OF THESE, CANDIDATES",NaN,NaN,False,64.0,1020850

In [110]:
senate.loc[(senate.candidate=='NONE OF THESE, CANDIDATES') , 'party_simplified']='OTHER'

In [111]:
senate[(senate.candidate=='OVER VOTES') | (senate.candidate=='UNDER VOTES')]

,state,state_po,state_fips,county_name,county_fips,candidate,party_detailed,party_simplified,writein,candidatevotes,totalvotes
2097,HAWAII,HI,15,HONOLULU,15003.0,OVER VOTES,NaN,NaN,False,255.0,409148
2103,HAWAII,HI,15,HAWAII,15001.0,OVER VOTES,NaN,NaN,False,291.0,409148
2109,HAWAII,HI,15,KAUAI,15007.0,OVER VOTES,NaN,NaN,False,25.0,409148
2115,HAWAII,HI,15,MAUI,15009.0,OVER VOTES,NaN,NaN,False,60.0,409148
9502,IOWA,IA,19,ADAIR,19001.0,UNDER VOTES,NaN,OTHER,False,21.0,2460832
...,...,...,...,...,...,...,...,...,...,...,...
9667,IOWA,IA,19,WASHINGTON,19183.0,OVER VOTES,NaN,OTHER,False,4.0,2460832
9668,IOWA,IA,19,WINNEBAGO,19189.0,OVER VOTES,NaN,OTHER,False,1.0,2460832
9669,IOWA,IA,19,WINNESHIEK,19191.0,OVER VOTES,NaN,OTHER,False,4.0,2460832
9670,IOWA,IA,19,WOODBURY,19193.0,OVER VOTES,NaN,OTHER,False,9.0,2460832
9671,IOWA,IA,19,WORTH,19195.0,OVER VOTES,NaN,OTHER,False,2.0,2460832

In [112]:
senate=senate[~senate.candidate.isin(['OVER VOTES','UNDER VOTES'])]

In [113]:
senate.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13926 entries, 0 to 14382
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             13926 non-null  object
 1   state_po          13926 non-null  object
 2   state_fips        13926 non-null  int64
 3   county_name       13926 non-null  object
 4   county_fips       13926 non-null  float64
 5   candidate         13926 non-null  object
 6   party_detailed    13332 non-null  object
 7   party_simplified  13857 non-null  object
 8   writein           13926 non-null  bool
 9   candidatevotes    13926 non-null  float64
 10  totalvotes        13926 non-null  int64
dtypes: bool(1), float64(2), int64(2), object(6)
memory usage: 1.2+ MB

<h3>Drop party_detailed, leave one party column <h3>

In [114]:
senate[senate.party_simplified.isna()].groupby(['state','candidate']).candidatevotes.sum()

state           candidate
SOUTH CAROLINA  WRITE-IN                1812.0
UTAH            ABRAHAM KORB              31.0
                LAIRD FETZER HAMBLIN     143.0
                MICHAEL SEGUIN            68.0
Name: candidatevotes, dtype: float64

In [115]:
senate.fillna(value={"party_simplified" : "OTHER"},inplace=True)

In [116]:
senate.drop(columns=["party_detailed"],inplace=True)
senate.rename(columns={"party_simplified" : "party"},inplace=True)

In [117]:
senate.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13926 entries, 0 to 14382
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           13926 non-null  object
 1   state_po        13926 non-null  object
 2   state_fips      13926 non-null  int64
 3   county_name     13926 non-null  object
 4   county_fips     13926 non-null  float64
 5   candidate       13926 non-null  object
 6   party           13926 non-null  object
 7   writein         13926 non-null  bool
 8   candidatevotes  13926 non-null  float64
 9   totalvotes      13926 non-null  int64
dtypes: bool(1), float64(2), int64(2), object(5)
memory usage: 1.1+ MB

<h3>Leave 3 party categories: DEM, REP, OTH <h3>

In [118]:
senate.party.value_counts()

party
DEMOCRAT       4178
REPUBLICAN     4031
LIBERTARIAN    3022
OTHER          2695
Name: count, dtype: int64

In [119]:
senate.replace({"DEMOCRAT":'DEM',"REPUBLICAN":"REP","LIBERTARIAN":"OTH","OTHER":"OTH"},inplace=True)

In [120]:
senate.party.value_counts()

party
OTH    5717
DEM    4178
REP    4031
Name: count, dtype: int64

There should be 1 dem and 1 rep candidate in each county, apart from UTAH, where there's only Rep. Obviously, something is still wrong

In [121]:
grouped=senate[senate.party!='OTH'].groupby(['state','candidate','party']).county_fips.nunique()
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    print(grouped)

state           candidate                      party
ALABAMA         KATIE BRITT                    REP       67
                WILL BOYD                      DEM       67
ARIZONA         BLAKE MASTERS                  REP       15
                CHRISTOPHER BULLOCK            REP       10
                EDWARD DAVIDA                  REP        2
                MARK KELLY                     DEM       15
                ROXANNE RENEE RODRIGUEZ        REP        7
                SHERRISE BORDES                REP        7
                TODD JAMES SMELTZER            DEM        4
                TY RICHARD MCLEAN JR.          DEM        8
                WILLIAM "WILL" MICHAEL TAYLOR  DEM        4
ARKANSAS        JOHN BOOZMAN                   REP       75
                NATALIE JAMES                  DEM       75
CALIFORNIA      ALEX PADILLA                   DEM       58
                MARK P. MEUSER                 REP       58
COLORADO        JOE O'DEA                      REP       64
                MICHAEL BENNET                 DEM       64
FLORIDA         MARCO RUBIO                    REP       67
                VAL DEMINGS                    DEM       67
GEORGIA         HERSCHEL JUNIOR WALKER         REP      159
                RAPHAEL WARNOCK                DEM      159
HAWAII          MCDERMOTT, BOB                 REP        4
                SCHATZ, BRIAN                  DEM        4
IDAHO           DAVID ROTH                     DEM       44
                MIKE CRAPO                     REP       44
ILLINOIS        KATHY SALVI                    REP      102
                TAMMY DUCKWORTH                DEM      102
INDIANA         THOMAS M. MCDERMOTT, JR.       DEM       92
                TODD YOUNG                     REP       92
IOWA            CHUCK GRASSLEY                 REP       99
                MICHAEL FRANKEN                DEM       99
KANSAS          JERRY MORAN                    REP      105
                MARK R. HOLLAND                DEM      105
KENTUCKY        CHARLES BOOKER                 DEM      120
                RAND PAUL                      REP      120
LOUISIANA       "LUKE" MIXON                   DEM       64
                DEVIN LANCE GRAHAM             REP       64
                GARY CHAMBERS, JR.             DEM       64
                JOHN KENNEDY                   REP       64
                MV "VINNY" MENDOZA             DEM       64
                SALVADOR P. RODRIGUEZ          DEM       64
                SYRITA STEIB                   DEM       64
MARYLAND        CHRIS CHAFFEE                  REP       24
                CHRIS VAN HOLLEN               DEM       24
MISSOURI        ERIC SCHMITT                   REP      114
                TRUDY BUSCH VALENTINE          DEM      114
NEVADA          CORTEZ MASTO, CATHERINE        DEM       17
                LAXALT, ADAM PAUL              REP       17
NEW HAMPSHIRE   DONALD C. BOLDUC               REP       10
                MAGGIE HASSAN                  DEM       10
NEW YORK        CHARLES E. SCHUMER             DEM       62
                JOE PINION                     REP       62
NORTH CAROLINA  CHERI BEASLEY                  DEM      100
                TED BUDD                       REP      100
NORTH DAKOTA    JOHN HOEVEN                    REP       53
                KATRINA CHRISTIANSEN           DEM       53
OHIO            JD VANCE                       REP       88
                TIM RYAN                       DEM       88
OKLAHOMA        JAMES LANKFORD                 REP       77
                MADISON HORN                   DEM       77
OREGON          PERKINS JO RAE                 REP       36
                WYDEN RON                      DEM       36
SOUTH CAROLINA  KRYSTLE MATTHEWS               DEM       46
                TIM SCOTT                      REP       46
SOUTH DAKOTA    BRIAN L BENGS                  DEM       66
                JOHN R THUNE                   REP       66
UTAH            MIKE LEE                       REP       29
WASHINGTON      PATTY MURRAY                   DEM       39
                TIFFANY SMILEY                 REP       39
WISCONSIN       MANDELA BARNES                 DEM       72
                RON JOHNSON                    REP       72
Name: county_fips, dtype: int64

Deal with ARIZONA

In [122]:
senate[senate.state=='ARIZONA'].groupby(['party','candidate']).candidatevotes.sum()

party  candidate
DEM    MARK KELLY                       1322027.0
       TODD JAMES SMELTZER                    6.0
       TY RICHARD MCLEAN JR.                 21.0
       WILLIAM "WILL" MICHAEL TAYLOR          8.0
OTH    LESTER "SKIP" MAUL                    95.0
       MARC J. VICTOR                     53762.0
REP    BLAKE MASTERS                    1196308.0
       CHRISTOPHER BULLOCK                   27.0
       EDWARD DAVIDA                          3.0
       ROXANNE RENEE RODRIGUEZ               20.0
       SHERRISE BORDES                       17.0
Name: candidatevotes, dtype: float64

In [123]:
senate.loc[(senate.state=='ARIZONA') & 
           (~senate.candidate.isin(['MARK KELLY','BLAKE MASTERS'])) , 
           'party']='OTH'

In [124]:
senate[senate.state=='ARIZONA'].groupby(['party','candidate']).candidatevotes.sum()

party  candidate
DEM    MARK KELLY                       1322027.0
OTH    CHRISTOPHER BULLOCK                   27.0
       EDWARD DAVIDA                          3.0
       LESTER "SKIP" MAUL                    95.0
       MARC J. VICTOR                     53762.0
       ROXANNE RENEE RODRIGUEZ               20.0
       SHERRISE BORDES                       17.0
       TODD JAMES SMELTZER                    6.0
       TY RICHARD MCLEAN JR.                 21.0
       WILLIAM "WILL" MICHAEL TAYLOR          8.0
REP    BLAKE MASTERS                    1196308.0
Name: candidatevotes, dtype: float64

Deal with LOUISIANA

In [125]:
senate[senate.state=='LOUISIANA'].groupby(['party','candidate','writein']).candidatevotes.sum()

party  candidate                    writein
DEM    "LUKE" MIXON                 False      182887.0
       GARY CHAMBERS, JR.           False      246933.0
       MV "VINNY" MENDOZA           False       11910.0
       SALVADOR P. RODRIGUEZ        False        7767.0
       SYRITA STEIB                 False       31568.0
OTH    "XAN" JOHN                   False        2753.0
       AARON C. SIGLER              False        4865.0
       BERYL A. BILLIOT             False        9378.0
       BRADLEY MCMORRIS             False        5388.0
       THOMAS WENN                  False        1322.0
       W. THOMAS LA FONTAINE OLSON  False        1676.0
REP    DEVIN LANCE GRAHAM           False       25275.0
       JOHN KENNEDY                 False      851568.0
Name: candidatevotes, dtype: float64

There are no primaries in Lousiana U.S. Senate elections, so let's just sum all the votes for Democrats and Republicans

In [126]:
la_dem_rep_votes_list=[]
la_counties=senate[senate.state=='LOUISIANA'][['county_name','county_fips']].drop_duplicates().reset_index()
for index,row in la_counties.iterrows():
    #print(row.county_fips)
    dem_votes_in_county=senate[(senate.county_fips==row.county_fips) & (senate.party=='DEM')].candidatevotes.sum()
    rep_votes_in_county=senate[(senate.county_fips==row.county_fips) & (senate.party=='REP')].candidatevotes.sum()
    la_dem_rep_votes_list.append( {
        'state':'LOUISIANA',
        'state_po':'LA',
        'state_fips':22,
        'county_name':row.county_name,
        'county_fips':row.county_fips,
        'candidate':'DEM_LOUISIANA',
        'party':'DEM',
        'writein':False,
        'candidatevotes':dem_votes_in_county,
        'totalvotes':1383290
    } )
    la_dem_rep_votes_list.append( {
        'state':'LOUISIANA',
        'state_po':'LA',
        'state_fips':22,
        'county_name':row.county_name,
        'county_fips':row.county_fips,
        'candidate':'REP_LOUISIANA',
        'party':'REP',
        'writein':False,
        'candidatevotes':rep_votes_in_county,
        'totalvotes':1383290
    } )

In [127]:
la_df=pd.DataFrame(la_dem_rep_votes_list)
la_df

,state,state_po,state_fips,county_name,county_fips,candidate,party,writein,candidatevotes,totalvotes
0,LOUISIANA,LA,22,ACADIA,22001.0,DEM_LOUISIANA,DEM,False,3033.0,1383290
1,LOUISIANA,LA,22,ACADIA,22001.0,REP_LOUISIANA,REP,False,16224.0,1383290
2,LOUISIANA,LA,22,ALLEN,22003.0,DEM_LOUISIANA,DEM,False,1080.0,1383290
3,LOUISIANA,LA,22,ALLEN,22003.0,REP_LOUISIANA,REP,False,5174.0,1383290
4,LOUISIANA,LA,22,ASCENSION,22005.0,DEM_LOUISIANA,DEM,False,11853.0,1383290
...,...,...,...,...,...,...,...,...,...,...
123,LOUISIANA,LA,22,WEST CARROLL,22123.0,REP_LOUISIANA,REP,False,3015.0,1383290
124,LOUISIANA,LA,22,WEST FELICIANA,22125.0,DEM_LOUISIANA,DEM,False,1358.0,1383290
125,LOUISIANA,LA,22,WEST FELICIANA,22125.0,REP_LOUISIANA,REP,False,2865.0,1383290
126,LOUISIANA,LA,22,WINN,22127.0,DEM_LOUISIANA,DEM,False,726.0,1383290
127,LOUISIANA,LA,22,WINN,22127.0,REP_LOUISIANA,REP,False,3212.0,1383290

In [128]:
senate=senate[(senate.state!='LOUISIANA') | (senate.party=='OTH')]

In [129]:
senate=pd.concat([senate,la_df],axis=0,ignore_index=True)

In [130]:
senate[senate.state=='LOUISIANA']

,state,state_po,state_fips,county_name,county_fips,candidate,party,writein,candidatevotes,totalvotes
9951,LOUISIANA,LA,22,ACADIA,22001.0,BERYL A. BILLIOT,OTH,False,123.0,1383290
9952,LOUISIANA,LA,22,ALLEN,22003.0,BERYL A. BILLIOT,OTH,False,57.0,1383290
9953,LOUISIANA,LA,22,ASCENSION,22005.0,BERYL A. BILLIOT,OTH,False,214.0,1383290
9954,LOUISIANA,LA,22,ASSUMPTION,22007.0,BERYL A. BILLIOT,OTH,False,71.0,1383290
9955,LOUISIANA,LA,22,AVOYELLES,22009.0,BERYL A. BILLIOT,OTH,False,92.0,1383290
...,...,...,...,...,...,...,...,...,...,...
13601,LOUISIANA,LA,22,WEST CARROLL,22123.0,REP_LOUISIANA,REP,False,3015.0,1383290
13602,LOUISIANA,LA,22,WEST FELICIANA,22125.0,DEM_LOUISIANA,DEM,False,1358.0,1383290
13603,LOUISIANA,LA,22,WEST FELICIANA,22125.0,REP_LOUISIANA,REP,False,2865.0,1383290
13604,LOUISIANA,LA,22,WINN,22127.0,DEM_LOUISIANA,DEM,False,726.0,1383290
13605,LOUISIANA,LA,22,WINN,22127.0,REP_LOUISIANA,REP,False,3212.0,1383290

In [131]:
senate.party.value_counts()

party
OTH    5759
REP    3941
DEM    3906
Name: count, dtype: int64

should be rep-dem=29 (counties in utah)

In [132]:
grouped=senate[senate.party!='OTH'].groupby(['state','candidate','party']).county_fips.nunique()
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    print(grouped)

state           candidate                 party
ALABAMA         KATIE BRITT               REP       67
                WILL BOYD                 DEM       67
ARIZONA         BLAKE MASTERS             REP       15
                MARK KELLY                DEM       15
ARKANSAS        JOHN BOOZMAN              REP       75
                NATALIE JAMES             DEM       75
CALIFORNIA      ALEX PADILLA              DEM       58
                MARK P. MEUSER            REP       58
COLORADO        JOE O'DEA                 REP       64
                MICHAEL BENNET            DEM       64
FLORIDA         MARCO RUBIO               REP       67
                VAL DEMINGS               DEM       67
GEORGIA         HERSCHEL JUNIOR WALKER    REP      159
                RAPHAEL WARNOCK           DEM      159
HAWAII          MCDERMOTT, BOB            REP        4
                SCHATZ, BRIAN             DEM        4
IDAHO           DAVID ROTH                DEM       44
                MIKE CRAPO                REP       44
ILLINOIS        KATHY SALVI               REP      102
                TAMMY DUCKWORTH           DEM      102
INDIANA         THOMAS M. MCDERMOTT, JR.  DEM       92
                TODD YOUNG                REP       92
IOWA            CHUCK GRASSLEY            REP       99
                MICHAEL FRANKEN           DEM       99
KANSAS          JERRY MORAN               REP      105
                MARK R. HOLLAND           DEM      105
KENTUCKY        CHARLES BOOKER            DEM      120
                RAND PAUL                 REP      120
LOUISIANA       DEM_LOUISIANA             DEM       64
                REP_LOUISIANA             REP       64
MARYLAND        CHRIS CHAFFEE             REP       24
                CHRIS VAN HOLLEN          DEM       24
MISSOURI        ERIC SCHMITT              REP      114
                TRUDY BUSCH VALENTINE     DEM      114
NEVADA          CORTEZ MASTO, CATHERINE   DEM       17
                LAXALT, ADAM PAUL         REP       17
NEW HAMPSHIRE   DONALD C. BOLDUC          REP       10
                MAGGIE HASSAN             DEM       10
NEW YORK        CHARLES E. SCHUMER        DEM       62
                JOE PINION                REP       62
NORTH CAROLINA  CHERI BEASLEY             DEM      100
                TED BUDD                  REP      100
NORTH DAKOTA    JOHN HOEVEN               REP       53
                KATRINA CHRISTIANSEN      DEM       53
OHIO            JD VANCE                  REP       88
                TIM RYAN                  DEM       88
OKLAHOMA        JAMES LANKFORD            REP       77
                MADISON HORN              DEM       77
OREGON          PERKINS JO RAE            REP       36
                WYDEN RON                 DEM       36
SOUTH CAROLINA  KRYSTLE MATTHEWS          DEM       46
                TIM SCOTT                 REP       46
SOUTH DAKOTA    BRIAN L BENGS             DEM       66
                JOHN R THUNE              REP       66
UTAH            MIKE LEE                  REP       29
WASHINGTON      PATTY MURRAY              DEM       39
                TIFFANY SMILEY            REP       39
WISCONSIN       MANDELA BARNES            DEM       72
                RON JOHNSON               REP       72
Name: county_fips, dtype: int64

No problems here

<h3>Check for duplicates <h3>

In [134]:
senate[senate.duplicated()]

,state,state_po,state_fips,county_name,county_fips,candidate,party,writein,candidatevotes,totalvotes
2494,INDIANA,IN,18,ADAMS,18001.0,JAMES M. SCENIAK,OTH,False,14.0,1859851
2508,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,377.0,1859851
2520,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,394.0,1859851
2521,INDIANA,IN,18,ADAMS,18001.0,JAMES M. SCENIAK,OTH,False,4.0,1859851
2524,INDIANA,IN,18,ADAMS,18001.0,JAMES M. SCENIAK,OTH,False,8.0,1859851
...,...,...,...,...,...,...,...,...,...,...
9026,INDIANA,IN,18,WHITLEY,18183.0,JAMES M. SCENIAK,OTH,False,6.0,1859851
9029,INDIANA,IN,18,WHITLEY,18183.0,DANNY NIEDERBERGER,OTH,True,2.0,1859851
9030,INDIANA,IN,18,WHITLEY,18183.0,JAMES M. SCENIAK,OTH,False,13.0,1859851
9037,INDIANA,IN,18,WHITLEY,18183.0,"THOMAS M. MCDERMOTT, JR.",DEM,False,36.0,1859851
9039,INDIANA,IN,18,WHITLEY,18183.0,JAMES M. SCENIAK,OTH,False,7.0,1859851

In [135]:
senate[senate.duplicated()].state.value_counts()

state
INDIANA    2221
Name: count, dtype: int64

In [136]:
senate[(senate.candidate=='TODD YOUNG') & (senate.county_fips==18001)]

,state,state_po,state_fips,county_name,county_fips,candidate,party,writein,candidatevotes,totalvotes
2493,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,356.0,1859851
2496,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,377.0,1859851
2499,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,434.0,1859851
2502,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,132.0,1859851
2505,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,416.0,1859851
2508,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,377.0,1859851
2511,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,212.0,1859851
2514,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,327.0,1859851
2517,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,394.0,1859851
2520,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,394.0,1859851
2523,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,261.0,1859851
2526,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,276.0,1859851
2529,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,198.0,1859851
2531,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,97.0,1859851
2534,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,281.0,1859851
2537,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,40.0,1859851
2540,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,220.0,1859851
2543,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,178.0,1859851
2546,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,312.0,1859851
2549,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,286.0,1859851
2552,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,294.0,1859851
2555,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,299.0,1859851
2558,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,245.0,1859851
2561,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,213.0,1859851
2564,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,295.0,1859851

In Indiana, data seems to be organised by precincts; need to sum it up; sum all third-party candidates together

In [138]:
senate[senate.state=='INDIANA'].groupby(['candidate','party']).candidatevotes.sum()

candidate                 party
ANTONIO XAVIER ALVAREZ    OTH            3.0
DANNY NIEDERBERGER        OTH         1294.0
DAVID G. STORER           OTH            7.0
HANEEFAH KHAALIQ          OTH          148.0
JAMES M. SCENIAK          OTH        63814.0
PHILLIP BEACHY            OTH            7.0
THOMAS BAER               OTH            2.0
THOMAS M. MCDERMOTT, JR.  DEM       704411.0
TODD YOUNG                REP      1090165.0
Name: candidatevotes, dtype: float64

In [139]:
in_votes_list=[]
in_counties=senate[senate.state=='INDIANA'][['county_name','county_fips']].drop_duplicates().reset_index()
for index,row in in_counties.iterrows():
    #print(row.county_fips)
    dem_votes_in_county=senate[(senate.county_fips==row.county_fips) & (senate.party=='DEM')].candidatevotes.sum()
    rep_votes_in_county=senate[(senate.county_fips==row.county_fips) & (senate.party=='REP')].candidatevotes.sum()
    oth_votes_in_county=senate[(senate.county_fips==row.county_fips) & (senate.party=='OTH')].candidatevotes.sum()
    in_votes_list.append( {
        'state':'INDIANA',
        'state_po':'IN',
        'state_fips':18,
        'county_name':row.county_name,
        'county_fips':row.county_fips,
        'candidate':'THOMAS M. MCDERMOTT, JR.',
        'party':'DEM',
        'writein':False,
        'candidatevotes':dem_votes_in_county,
        'totalvotes':1859851
    } )
    in_votes_list.append( {
        'state':'INDIANA',
        'state_po':'IN',
        'state_fips':18,
        'county_name':row.county_name,
        'county_fips':row.county_fips,
        'candidate':'TODD YOUNG',
        'party':'REP',
        'writein':False,
        'candidatevotes':rep_votes_in_county,
        'totalvotes':1859851
    } )
    in_votes_list.append( {
        'state':'INDIANA',
        'state_po':'IN',
        'state_fips':18,
        'county_name':row.county_name,
        'county_fips':row.county_fips,
        'candidate':'THIRD-PARTY',
        'party':'OTH',
        'writein':False,
        'candidatevotes':oth_votes_in_county,
        'totalvotes':1859851
    } )

In [140]:
in_df=pd.DataFrame(in_votes_list)
in_df

,state,state_po,state_fips,county_name,county_fips,candidate,party,writein,candidatevotes,totalvotes
0,INDIANA,IN,18,ADAMS,18001.0,"THOMAS M. MCDERMOTT, JR.",DEM,False,1841.0,1859851
1,INDIANA,IN,18,ADAMS,18001.0,TODD YOUNG,REP,False,6914.0,1859851
2,INDIANA,IN,18,ADAMS,18001.0,THIRD-PARTY,OTH,False,195.0,1859851
3,INDIANA,IN,18,ALLEN,18003.0,"THOMAS M. MCDERMOTT, JR.",DEM,False,39913.0,1859851
4,INDIANA,IN,18,ALLEN,18003.0,TODD YOUNG,REP,False,59128.0,1859851
...,...,...,...,...,...,...,...,...,...,...
271,INDIANA,IN,18,WHITE,18181.0,TODD YOUNG,REP,False,4972.0,1859851
272,INDIANA,IN,18,WHITE,18181.0,THIRD-PARTY,OTH,False,156.0,1859851
273,INDIANA,IN,18,WHITLEY,18183.0,"THOMAS M. MCDERMOTT, JR.",DEM,False,2442.0,1859851
274,INDIANA,IN,18,WHITLEY,18183.0,TODD YOUNG,REP,False,8586.0,1859851
275,INDIANA,IN,18,WHITLEY,18183.0,THIRD-PARTY,OTH,False,492.0,1859851

In [141]:
senate=senate[senate.state!='INDIANA']

In [142]:
senate=pd.concat([senate,in_df],axis=0,ignore_index=True)

In [143]:
senate

,state,state_po,state_fips,county_name,county_fips,candidate,party,writein,candidatevotes,totalvotes
0,ALABAMA,AL,1,AUTAUGA,1001.0,WILL BOYD,DEM,False,3814.0,1414238
1,ALABAMA,AL,1,BALDWIN,1003.0,WILL BOYD,DEM,False,11478.0,1414238
2,ALABAMA,AL,1,BARBOUR,1005.0,WILL BOYD,DEM,False,2620.0,1414238
3,ALABAMA,AL,1,BIBB,1007.0,WILL BOYD,DEM,False,971.0,1414238
4,ALABAMA,AL,1,BLOUNT,1009.0,WILL BOYD,DEM,False,1130.0,1414238
...,...,...,...,...,...,...,...,...,...,...
7326,INDIANA,IN,18,WHITE,18181.0,TODD YOUNG,REP,False,4972.0,1859851
7327,INDIANA,IN,18,WHITE,18181.0,THIRD-PARTY,OTH,False,156.0,1859851
7328,INDIANA,IN,18,WHITLEY,18183.0,"THOMAS M. MCDERMOTT, JR.",DEM,False,2442.0,1859851
7329,INDIANA,IN,18,WHITLEY,18183.0,TODD YOUNG,REP,False,8586.0,1859851
7330,INDIANA,IN,18,WHITLEY,18183.0,THIRD-PARTY,OTH,False,492.0,1859851

In [144]:
senate.party.value_counts()

party
OTH    3422
REP    1969
DEM    1940
Name: count, dtype: int64

Finally, it seems like it's all good.

In [145]:
senate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7331 entries, 0 to 7330
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           7331 non-null   object
 1   state_po        7331 non-null   object
 2   state_fips      7331 non-null   int64
 3   county_name     7331 non-null   object
 4   county_fips     7331 non-null   float64
 5   candidate       7331 non-null   object
 6   party           7331 non-null   object
 7   writein         7331 non-null   bool
 8   candidatevotes  7331 non-null   float64
 9   totalvotes      7331 non-null   int64
dtypes: bool(1), float64(2), int64(2), object(5)
memory usage: 522.7+ KB

<h1>Drop writein and sum all third-party votes<h1>

In [146]:
senate.drop(columns=["writein"],inplace=True)
senate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7331 entries, 0 to 7330
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           7331 non-null   object
 1   state_po        7331 non-null   object
 2   state_fips      7331 non-null   int64
 3   county_name     7331 non-null   object
 4   county_fips     7331 non-null   float64
 5   candidate       7331 non-null   object
 6   party           7331 non-null   object
 7   candidatevotes  7331 non-null   float64
 8   totalvotes      7331 non-null   int64
dtypes: float64(2), int64(2), object(5)
memory usage: 515.6+ KB

Already summed third party votes in Indiana

In [147]:
thirdparty_votes_list=[]
all_counties=senate[senate.state!='INDIANA'][['state','state_po','state_fips','county_name','county_fips','totalvotes']].drop_duplicates().reset_index()
for index,row in all_counties.iterrows():
    oth_votes_in_county=senate[(senate.county_fips==row.county_fips) & (senate.party=='OTH')].candidatevotes.sum()
    if oth_votes_in_county>0:
        thirdparty_votes_list.append( {
            'state':row.state,
            'state_po':row.state_po,
            'state_fips':row.state_fips,
            'county_name':row.county_name,
            'county_fips':row.county_fips,
            'candidate':'THIRD-PARTY',
            'party':'OTH',
            'candidatevotes':oth_votes_in_county,
            'totalvotes':row.totalvotes
        } )

In [148]:
oth_df=pd.DataFrame(thirdparty_votes_list)
oth_df

,state,state_po,state_fips,county_name,county_fips,candidate,party,candidatevotes,totalvotes
0,ALABAMA,AL,1,AUTAUGA,1001.0,THIRD-PARTY,OTH,567.0,1414238
1,ALABAMA,AL,1,BALDWIN,1003.0,THIRD-PARTY,OTH,2218.0,1414238
2,ALABAMA,AL,1,BARBOUR,1005.0,THIRD-PARTY,OTH,62.0,1414238
3,ALABAMA,AL,1,BIBB,1007.0,THIRD-PARTY,OTH,204.0,1414238
4,ALABAMA,AL,1,BLOUNT,1009.0,THIRD-PARTY,OTH,552.0,1414238
...,...,...,...,...,...,...,...,...,...
1605,NORTH CAROLINA,NC,37,WAYNE,37191.0,THIRD-PARTY,OTH,615.0,3773924
1606,NORTH CAROLINA,NC,37,WILKES,37193.0,THIRD-PARTY,OTH,482.0,3773924
1607,NORTH CAROLINA,NC,37,WILSON,37195.0,THIRD-PARTY,OTH,436.0,3773924
1608,NORTH CAROLINA,NC,37,YADKIN,37197.0,THIRD-PARTY,OTH,353.0,3773924
1609,NORTH CAROLINA,NC,37,YANCEY,37199.0,THIRD-PARTY,OTH,235.0,3773924

In [149]:
senate

,state,state_po,state_fips,county_name,county_fips,candidate,party,candidatevotes,totalvotes
0,ALABAMA,AL,1,AUTAUGA,1001.0,WILL BOYD,DEM,3814.0,1414238
1,ALABAMA,AL,1,BALDWIN,1003.0,WILL BOYD,DEM,11478.0,1414238
2,ALABAMA,AL,1,BARBOUR,1005.0,WILL BOYD,DEM,2620.0,1414238
3,ALABAMA,AL,1,BIBB,1007.0,WILL BOYD,DEM,971.0,1414238
4,ALABAMA,AL,1,BLOUNT,1009.0,WILL BOYD,DEM,1130.0,1414238
...,...,...,...,...,...,...,...,...,...
7326,INDIANA,IN,18,WHITE,18181.0,TODD YOUNG,REP,4972.0,1859851
7327,INDIANA,IN,18,WHITE,18181.0,THIRD-PARTY,OTH,156.0,1859851
7328,INDIANA,IN,18,WHITLEY,18183.0,"THOMAS M. MCDERMOTT, JR.",DEM,2442.0,1859851
7329,INDIANA,IN,18,WHITLEY,18183.0,TODD YOUNG,REP,8586.0,1859851
7330,INDIANA,IN,18,WHITLEY,18183.0,THIRD-PARTY,OTH,492.0,1859851

In [150]:
senate=senate[(senate.state=='INDIANA') | (senate.party!='OTH')]

In [151]:
senate=pd.concat([senate,oth_df],axis=0,ignore_index=True)

In [152]:
senate

,state,state_po,state_fips,county_name,county_fips,candidate,party,candidatevotes,totalvotes
0,ALABAMA,AL,1,AUTAUGA,1001.0,WILL BOYD,DEM,3814.0,1414238
1,ALABAMA,AL,1,BALDWIN,1003.0,WILL BOYD,DEM,11478.0,1414238
2,ALABAMA,AL,1,BARBOUR,1005.0,WILL BOYD,DEM,2620.0,1414238
3,ALABAMA,AL,1,BIBB,1007.0,WILL BOYD,DEM,971.0,1414238
4,ALABAMA,AL,1,BLOUNT,1009.0,WILL BOYD,DEM,1130.0,1414238
...,...,...,...,...,...,...,...,...,...
5606,NORTH CAROLINA,NC,37,WAYNE,37191.0,THIRD-PARTY,OTH,615.0,3773924
5607,NORTH CAROLINA,NC,37,WILKES,37193.0,THIRD-PARTY,OTH,482.0,3773924
5608,NORTH CAROLINA,NC,37,WILSON,37195.0,THIRD-PARTY,OTH,436.0,3773924
5609,NORTH CAROLINA,NC,37,YADKIN,37197.0,THIRD-PARTY,OTH,353.0,3773924
5610,NORTH CAROLINA,NC,37,YANCEY,37199.0,THIRD-PARTY,OTH,235.0,3773924

In [153]:
senate.sort_values(by=['state', 'county_name', 'candidatevotes'],inplace=True)

In [154]:
senate

,state,state_po,state_fips,county_name,county_fips,candidate,party,candidatevotes,totalvotes
4001,ALABAMA,AL,1,AUTAUGA,1001.0,THIRD-PARTY,OTH,567.0,1414238
0,ALABAMA,AL,1,AUTAUGA,1001.0,WILL BOYD,DEM,3814.0,1414238
67,ALABAMA,AL,1,AUTAUGA,1001.0,KATIE BRITT,REP,13359.0,1414238
4002,ALABAMA,AL,1,BALDWIN,1003.0,THIRD-PARTY,OTH,2218.0,1414238
1,ALABAMA,AL,1,BALDWIN,1003.0,WILL BOYD,DEM,11478.0,1414238
...,...,...,...,...,...,...,...,...,...
3323,WISCONSIN,WI,55,WINNEBAGO,55139.0,MANDELA BARNES,DEM,34860.0,2652477
3395,WISCONSIN,WI,55,WINNEBAGO,55139.0,RON JOHNSON,REP,39372.0,2652477
5510,WISCONSIN,WI,55,WOOD,55141.0,THIRD-PARTY,OTH,64.0,2652477
3324,WISCONSIN,WI,55,WOOD,55141.0,MANDELA BARNES,DEM,12925.0,2652477
3396,WISCONSIN,WI,55,WOOD,55141.0,RON JOHNSON,REP,20004.0,2652477

In [159]:
senate=senate.reset_index()

In [160]:
senate.drop(columns=["index"],inplace=True)
senate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5611 entries, 0 to 5610
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           5611 non-null   object
 1   state_po        5611 non-null   object
 2   state_fips      5611 non-null   int64
 3   county_name     5611 non-null   object
 4   county_fips     5611 non-null   float64
 5   candidate       5611 non-null   object
 6   party           5611 non-null   object
 7   candidatevotes  5611 non-null   float64
 8   totalvotes      5611 non-null   int64
dtypes: float64(2), int64(2), object(5)
memory usage: 394.7+ KB

In [167]:
senate

,state,state_po,state_fips,county_name,county_fips,candidate,party,candidatevotes,totalvotes
0,ALABAMA,AL,1,AUTAUGA,1001.0,THIRD-PARTY,OTH,567.0,1414238
1,ALABAMA,AL,1,AUTAUGA,1001.0,WILL BOYD,DEM,3814.0,1414238
2,ALABAMA,AL,1,AUTAUGA,1001.0,KATIE BRITT,REP,13359.0,1414238
3,ALABAMA,AL,1,BALDWIN,1003.0,THIRD-PARTY,OTH,2218.0,1414238
4,ALABAMA,AL,1,BALDWIN,1003.0,WILL BOYD,DEM,11478.0,1414238
...,...,...,...,...,...,...,...,...,...
5606,WISCONSIN,WI,55,WINNEBAGO,55139.0,MANDELA BARNES,DEM,34860.0,2652477
5607,WISCONSIN,WI,55,WINNEBAGO,55139.0,RON JOHNSON,REP,39372.0,2652477
5608,WISCONSIN,WI,55,WOOD,55141.0,THIRD-PARTY,OTH,64.0,2652477
5609,WISCONSIN,WI,55,WOOD,55141.0,MANDELA BARNES,DEM,12925.0,2652477
5610,WISCONSIN,WI,55,WOOD,55141.0,RON JOHNSON,REP,20004.0,2652477

<h1>Saving cleaned data<h1>

In [168]:
senate.to_csv('cleaned_senate2022.csv')

In [166]:
senate[senate.state=='NEW HAMPSHIRE'].groupby(['candidate']).candidatevotes.sum()

candidate
DONALD C. BOLDUC    275631.0
MAGGIE HASSAN       332490.0
THIRD-PARTY          12854.0
Name: candidatevotes, dtype: float64

In [53]:
senate_copy=senate.copy()

In [ ]:
senate.stage.value_counts()

In [ ]:
senate.unoffical.value_counts()